<!DOCTYPE html>

<html ng-app="helpNow">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Now</title>

    <!-- Bootstrap -->
    <link href="generated/all.css" rel="stylesheet">
    <script type="text/javascript" src="lib/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular/angular-route.js"></script>
    <script type="text/javascript" src="angular/angular-resource.js"></script>
    <script type="text/javascript" src="angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.14.2.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <!--<link rel="stylesheet" href="http://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.css" />-->
    <link rel="stylesheet" type="text/css" href="style/leaflet-search.css" />
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
    <script type="text/javascript" src="leaflet/heatmap.js"></script>
    <script type="text/javascript" src="leaflet/leaflet-heatmap.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
    <!--<script src="http://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.js"></script>-->
    <script type="text/javascript" src="leaflet/leaflet-search.js"></script>

    <link rel="shortcut icon" href="/style/images/HelpNowIcon.ico" type="image/x-icon" />

    <!--Apple Web Clip Icons-->
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

    <script type="text/javascript" src="generated/all.js"></script>
    <script type="text/javascript" src="factories/regulation.js"></script>
    <script type="text/javascript" src="factories/invitation.js"></script>
    <script type="text/javascript" src="factories/account.js"></script>
    <script type="text/javascript" src="factories/organization.js"></script>
    <script type="text/javascript" src="factories/resourcelocation.js"></script>
    <script type="text/javascript" src="factories/resourcelocationinventory.js"></script>
    <script type="text/javascript" src="factories/resourcelocationtype.js"></script>
    <script type="text/javascript" src="factories/resourcelocationTransport.js"></script>

</head>
<body ng-controller="RootCtrl">
    <div class="container page-container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/events">
                        <img alt="Help Now" src="style/images/logo.png" />
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="getMenuClass('events')"><a href="#">{{text.menu_events}}</a></li>
                        <li ng-class="getMenuClass('inv')" ng-show="currentUser"><a href="#/inventory">{{text.menu_inv}}</a></li>
                        <li ng-class="getMenuClass('mng')" ng-show="currentUser"><a href="#/manage">{{text.menu_manage}}</a></li>
                        <li ng-class="getMenuClass('administration')" ng-show="isSuperAdmin"><a href="#/administration">{{text.menu_admin}}</a></li>
                        <li ng-class="getMenuClass('about')"><a href="#/about">{{text.menu_about}}</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{text.menu_lang}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="setCurrentLanguage('Eng')" ng-class="getLanguageClass('Eng')"><img class="lang-img" src="style/images/uk_flag.png" /> English</a></li>
                                <li><a ng-click="setCurrentLanguage('Esp')" ng-class="getLanguageClass('Esp')"><img class="lang-img" src="style/images/spain_flag.jpg" /> Español</a></li>
                                <li><a ng-click="setCurrentLanguage('Fre')" ng-class="getLanguageClass('Fre')"><img class="lang-img" src="style/images/french_flag.png" /> français</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row main-content">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="header-row" class="row">
                            <div class="col-md-8">
                                <h3><img id="event-header-icon" ng-show="imageSrc" src="{{imageSrc}}" />{{title}}</h3>
                            </div>
                            <div class="col-md-4" ng-show="currentUser">
                                <h5><a id="btn-logout" class="btn btn-primary pull-right" ng-click="redirectToLogout()"><span></span>{{text.logout}}</a>
									{{text.user_label}}: {{currentUser.FirstName + " " + currentUser.LastName + ", " + currentUser.OrganizationName}}
								</h5> 
                            </div>
                            <div class="col-md-4" ng-show="getShowLogin()">
                                <a id="btn-login" class="btn btn-primary pull-right" ng-click="redirectToLogin()"><span></span>{{text.login}}</a>
                            </div>
                        </div>
                        <ng-view autoscroll="true" />
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <h6>Version 0.5.0</h6>
        </footer>
    </div>

</body>

</html>