:root {
    --black: #000;

    --darkest-gray: #666;
    --dark-gray: #999;
    --light-gray: #bed1d4;
    
    --dark-blue: rgba(38, 58, 80, 1.0);
    --dark-blue-trans: rgba(38, 58, 80, 0.75);
    --med-blue: #46696f;
    --bright-blue: #deefff;
    --light-blue: #25d6e8;
    --light-blue-grad: linear-gradient(to bottom, var(--light-blue), color(var(--light-blue) shade(40%)));
    --lighter-blue: #bdd7ee;
    --lightest-blue: #deebf7;

    --helpnow-blue: #4299d4;

    --med-green: #5cb85c;
    --bright-green: #e7ffd9;
	--green-grad: linear-gradient(to bottom, var(--med-green), color(var(--med-green) shade(40%)));

    --marker-cyan: #21dce4;
    --marker-cyan-grad: linear-gradient(to bottom, var(--marker-cyan), color(var(--marker-cyan) shade(40%)));
    --marker-green: #00a819;
    --marker-green-grad: linear-gradient(to bottom, var(--marker-green), color(var(--marker-green) shade(40%)));
    --marker-orange: #ff9500;
    --marker-orange-grad: linear-gradient(to bottom, var(--marker-orange), color(var(--marker-orange) shade(40%)));
    --marker-red-grad: linear-gradient(to bottom, red, color(red shade(40%)));
    --marker-purple: #663399;
    --marker-purple-grad: linear-gradient(to bottom, var(--marker-purple), color(var(--marker-purple) shade(40%)));
    --marker-magenta: #ff00ff;
    --marker-magenta-grad: linear-gradient(to bottom, var(--marker-magenta), color(var(--marker-magenta) shade(40%)));
    --marker-yellow: #ffff00;
    --marker-yellow-grad: linear-gradient(to bottom, var(--marker-yellow), color(var(--marker-yellow) shade(40%)));
    --marker-blue: #087fff;
    --marker-blue-grad: linear-gradient(to bottom, var(--marker-blue), color(var(--marker-blue) shade(40%)));

    /* Google Material Design Color Palette - Shade 800 */
    /* https://material.google.com/style/color.html#color-color-palette */
    --material-red: #C62828;
    --material-pink: #AD1457;
    --material-purple: #6A1B9A;
    --material-blue: #1565C0;
    --material-cyan: #00838F;
    --material-green: #2E7D32;
    --material-yellow: #F9A825;
    --material-orange: #EF6C00;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--black);
    background-image: url("../style/images/help-bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--light-gray);
}

a, a:visited {
    color: white;
}

a:hover {
    color: color(var(--light-blue) tint(40%));
}

hr {
    border-color: #888;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    width: 95%;
}

.container-fluid {
    padding: 0px 15px;
}

footer h6 {
    color: whitesmoke;
}

.leaflet-popup-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dark-container {
    color: whitesmoke;
    background-color: var(--dark-blue-trans);
    border: 1px solid var(--med-blue);
    padding: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}

.dark-container .dark-container {
    background-color: rgba(0, 0, 0, .4);
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0px;
    color: var(--lightest-blue);
}

h4, h4 a, h4 a:active, h4 a:visited {
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}

h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: whitesmoke;
}

.form-control {
    background-color: var(--light-gray);
    color: black;
    border-radius: 0px;
}

.event-img {
    width: 60px;
    margin-top: 10px;
}

.resource-img {
	width: 50px;
}

.navbar-inverse {
    background-color: var(--dark-blue-trans);
    border-color: var(--dark-gray);
    font-weight: bold;
    border: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus  {
    background-color: var(--med-blue);
    color: var(--bright-blue);
}

.navbar-inverse .navbar-toggle {
    border-color: var(--dark-gray);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: var(--med-blue);
}

.navbar-brand {
    padding: 5px 10px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav > li > a.btn {
    color: white;
}

#user-info {
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    font-size: .8em;
    padding: 10px;
}

#user-info a {
    text-decoration: none;
    color: var(--light-gray);
}

.btn.btn-toggle {
    padding: 1px;
    margin: 0px;
}

.btn-toggle, .btn-toggle:hover, .btn-toggle:active, .btn-toggle.active {
    color: white;
    font-size: 14px;
    /*background-color: var(--light-blue);*/
    background-color: var(--material-cyan);
    border-style: none;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0px;
    padding: 1px 0px 0px 0px;
}

.btn-toggle span {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: var(--dark-blue);
    background-image: none;
    background-repeat: no-repeat;
    margin: 0px;
}

.btn-toggle.active span {
    background-color: transparent;
}

.filter-caption {
    font-size: .8em;
}


/*Filters*/

#showNeedsMarkers span {
    background-image:  url("../style/images/markers.png");
    background-size: 40px;
    background-position: 2px 4px;
}

#showDistCenterMarkers span {
    background-image:  url("../style/images/Distribution-Center.png");
    background-size: 40px;
    background-position: 4px 9px;
}

#showClusters span {
    background-image:  url("../style/images/Circle-Red.png");
    background-position: 6px 7px;
    background-size: 35px;
}

#showLocationMarkers span {
    background-image:  url("../style/images/Diamond-Blue.png");
    background-position: 4px 4px;
    background-size: 40px;
}

#showHeatmap span {
    background-image: url("../style/images/heatmap2.png");
    background-position: -1px 2px;
    background-size: 50px;
}

#showBlockageMarkers span {
    background-image: url("../style/images/Alert.png");
    background-position: 9px 10px;
    background-size: 30px;
}


/*Resources*/

#showClothing {
    background-color: var(--material-yellow);
}

#showClothing span {
    background-image: url("../style/images/Clothing.png");
    background-position: 6px 5px;
    background-size: 35px;
}

#showRescue {
    background-color: var(--material-pink);
}

#showRescue span {
    background-image: url("../style/images/Rescue.png");
    background-position: 6px 5px;
    background-size: 35px;
}

#showEvacuation {
    background-color: var(--material-purple);
}

#showEvacuation span {
    background-image: url("../style/images/Evacuation.png");
    background-position: 6px 5px;
    background-size: 35px;
}

#showMedical {
    background-color: var(--material-red);
}

#showMedical span {
    background-image: url("../style/images/First Aid.png");
    background-size: 35px;
    background-position: 6px 6px;
}

#showMedicine {
    background-color: var(--material-cyan);
}

#showMedicine span {
    background-image: url("../style/images/Medicine.png");
    background-size: 35px;
    background-position: 6px 7px;
}

#showShelter {
    background-color: var(--material-orange);
}

#showShelter span {
    background-image: url("../style/images/Shelter.png");
    background-size: 35px;
    background-position: 6px 8px;
}

#showFood {
    background-color: var(--material-green);
}

#showFood span {
    background-image: url("../style/images/Food.png");
    background-size: 20px;
    background-position: 13px 5px;
}

#showWater {
    background-color: var(--material-blue);
}

#showWater span {
    background-image: url("../style/images/Water.png");
    background-size: 35px;
    background-position: 6px 5px;
}



/* Navbar */

.navbar {
    border-radius: 0;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a.btn:hover {
    color: white;
    background-color: #d83d2c;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: var(--bright-blue);
    background-color:  var(--med-blue);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus  {
    color: var(--bright-blue);
    background-color:  var(--med-blue);
}

.help-menu .btn {
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #d85b4d;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

.help-menu .btn:hover {
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

.dropdown-menu, .navbar-nav .open .dropdown-menu {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active,
.dropdown-menu > li > a.active {
    background-color: var(--med-blue);
    color: var(--bright-green);
}

.dropdown-menu > li > a:hover {
    color: #e7ffd9;
}

.main-content {
    margin-top: 10px;
}

.panel {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.panel-default > .panel-heading {
    text-align: center;
    padding: 0px;
    background-color: transparent;
    border: none;
    color: #eee;
}

.panel-title {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
}

.panel-body {
    padding: 15px;
}

.map-small {
    margin-bottom: 20px;
    background-color: pink;
}

.map-small img {
    border-radius: 4px 4px 0px 0px;
}

.alert {
    margin-bottom: 0px;
}



/* Buttons */

.btn {
    border-radius: 0px;
    padding: 8px 15px;
    margin: 2px;
    border: none;
    white-space: normal;
}

.btn-save {
    background-color: forestgreen;
    color: white;
}

.btn-primary {
    background-color: #63afbc;    
}

.btn-primary:hover {
    background-color: color(#63afbc shade(20%));
    background-image: none;
    color: white;
}

.btn-danger {
    background-color: rgba(165, 19, 19, .85);
    background-color: #d91d1d;
}

.btn-danger:hover {
    background-color: #a51313;
}

.btn-success {
	background-color: forestgreen;
}

.btn-success:hover {
	background-color: color(var(--med-green) shade(20%));
    background-image: none;
}

.btn .glyphicon {
    margin-right: 7px;
}

.full-width {
    width: 100%;
}

.icon-bar {
    height: 40px;
    background-color: #4e4d46;
    max-width: 400px;
    border-radius: 0px 0px 4px 4px;
    padding-left: 20px;
}

input.switch:empty
{
    margin-left: -1500px;
}

input.switch:empty ~ label
{
    position: relative;
    float: right;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #c33;
    border-radius: 0.3em;
    box-shadow: inset 0 0.1em 0 rgba(0,0,0,0.2);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 0.15em;
    box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
    background-color: var(--med-green);
}

input.switch:checked ~ label:after
{
    margin-left: 2em;
}

.separated {
    margin-top: 20px;
}

.separated-large {
    margin-top: 40px;
}

.separated-small {
    margin-top: 10px;
}

.separated-tiny {
    margin-top: 5px;
}

.separated-hz {
	margin-left: 5px;
}

/*#event-info {
    margin-left: 10px;
}*/

#event-info h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#event-info h5 {
    margin-top: 3px;
    margin-bottom: 0px;
}

#map {
    height: 512px;
    margin-bottom: 10px;
}

#event-header-icon {
    width: 40px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.leaflet-popup-content {
    color: black;
}

.lang-img {
    width: 20px;
    height: 10px;
    margin-bottom: 2px;
    margin-right: 5px;
    border: 1px solid var(--dark-gray);
}

.close {
    color: #fff;
    opacity: 1;
}

.panel-borderless {
    border: 0;
}

.spacer {
    margin-top: 20px;
}

.popover-content {
    color: black;
    font-size: 12px;
}

.modal-header {
    border: none;
}

.modal-content {
    color: whitesmoke;
    position: relative;
    background-color: #4e5d6c;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: border-box;
    outline: 0;
}

.modal-footer {
    border: none;
}

.panel-footer {
    background-color: var(--dark-blue-trans);
    border-color: var(--dark-gray);
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
  color: salmon;
}

#header-row {
    margin-bottom: 0px;
}

#blockage-icon {
	font-size: 20pt;
}

select{
    background-color: #337ab7;
    height: 80x;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.admin-list-icon {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.link-lat-long {
    color: var(--light-blue);
    text-decoration: underline;
}

.about-bold {
    color: var(--helpnow-blue);
}

.row-lat-long {
    padding-top: 10px;
}

#slider {
    height: 100px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: -15px;
}




/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .dark-container {
        padding: 10px;
    }

    .dark-container .dark-container {
        padding: 8px;
    }
}

/*Collapse navbar at a wider breakpoint to avoid menu wrapping*/
@media (min-width: 768px) and (max-width: 920px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}