:root {
    --black: #000;
    --light-gray: #eee;
    --dark-gray: #999;
    --darkest-gray: #666;
    --dark-blue: rgba(38, 58, 80, 1.0);
    --dark-blue-trans: rgba(38, 58, 80, 0.85);
    --med-blue: #365271;
    --bright-green: #e7ffd9;
    --bright-blue: #deefff;
    --lightest-blue: #deebf7;
    --lighter-blue: #bdd7ee;
    --light-blue: #3a95e7;
    --light-blue-grad: linear-gradient(to bottom, var(--light-blue), color(var(--light-blue) shade(40%)));

    --marker-cyan: #21dce4;
    --marker-cyan-grad: linear-gradient(to bottom, var(--marker-cyan), color(var(--marker-cyan) shade(40%)));
    --marker-green: #00a819;
    --marker-green-grad: linear-gradient(to bottom, var(--marker-green), color(var(--marker-green) shade(40%)));
    --marker-orange: #ff9500;
    --marker-orange-grad: linear-gradient(to bottom, var(--marker-orange), color(var(--marker-orange) shade(40%)));
    --marker-red-grad: linear-gradient(to bottom, red, color(red shade(40%)));
    --marker-purple: #ca62ff;
    --marker-purple-grad: linear-gradient(to bottom, var(--marker-purple), color(var(--marker-purple) shade(40%)));
    --marker-yellow: #ffff00;
    --marker-yellow-grad: linear-gradient(to bottom, var(--marker-yellow), color(var(--marker-yellow) shade(40%)));
    --marker-blue: #087fff;
    --marker-blue-grad: linear-gradient(to bottom, var(--marker-blue), color(var(--marker-blue) shade(40%)));

}

body {
    background-color: var(--black);
    background-image: url("../style/images/Earth_Bottom.jpg"), url("../style/images/space-title.jpg");
    background-size: auto, auto;
    background-attachment: fixed, fixed;
    background-position: bottom center, top left;
    background-repeat: no-repeat, repeat;
    color: var(--light-gray);
}

footer h6 {
    color: var(--bright-blue);
}

hr {
    border-color: var(--dark-gray);
    margin-top: 10px;
    margin-bottom: 10px;
}

.leaflet-popup-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.well {
    background-color: var(--dark-blue);
    border-color: var(--dark-gray);
}

.well .well {
    background-color: var(--med-blue);
    color: var(--lightest-blue);
    padding: 10px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0px;
    color: var(--lightest-blue);
}

h4, h4 a, h4 a:active, h4 a:visited {
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--lightest-blue);
}

h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--lighter-blue);
}

.form-control {
    background-color: var(--lighter-blue);
    color: black;
}

.event-img {
    width: 60px;
    margin-top: 10px;
}

.resource-img {
	margin-right: 10px;
	width: 50px;
}

.navbar-inverse {
    background-color: var(--dark-blue-trans);
    border-color: var(--dark-gray);
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus  {
    background-color: var(--med-blue);
    color: var(--bright-blue);
}

.navbar-inverse .navbar-toggle {
    border-color: var(--dark-gray);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: var(--med-blue);
}

.navbar-brand {
    padding: 5px 10px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav > li > a.btn {
    color: white;
}

.btn-toggle, .btn-toggle:hover, .btn-toggle:active, .btn-toggle.active {
    color: white;
    font-size: 14px;
    background-image: var(--light-blue-grad);
    border-style: none;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding: 4px 0px 0px 0px;
}

.btn-toggle span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #555;
    background-image: none;
    border-radius: 4px;
    background-repeat: no-repeat;
    margin: 0px;
}

.btn-toggle.active span {
    background-color: transparent;
}

#showNeedsMarkers span {
    background-image:  url("../style/images/markers.png");
    background-size: 30px;
    background-position: 1px 3px;
}

#showDistCenterMarkers span {
    background-image:  url("../style/images/Distribution-Center.png");
    background-size: 25px;
    background-position: 4px 6px;
}

#showClusters span {
    background-image:  url("../style/images/Circle-Red.png");
    background-position: 6px 5px;
    background-size: 20px;
}

#showLocationMarkers span {
    background-image:  url("../style/images/Diamond-Blue.png");
    background-position: 4px 3px;
    background-size: 25px;
}

#showHeatmap span {
    background-image: url("../style/images/heatmap2.png");
    background-position: 2px 3px;
    background-size: 30px;
}

#showClothing {
    background-image: var(--marker-yellow-grad);
}

#showClothing span {
    background-image: url("../style/images/Clothing.png");
    background-position: 6px 5px;
    background-size: 20px;
}

#showEvacuation {
    background-image: var(--marker-purple-grad);
}

#showEvacuation span {
    background-image: url("../style/images/Evacuation.png");
    background-position: 6px 5px;
    background-size: 20px;
}

#showMedical {
    background-image: var(--marker-red-grad);
}

#showMedical span {
    background-image: url("../style/images/First Aid.png");
    background-size: 20px;
    background-position: 6px 6px;
}

#showMedicine {
    background-image: var(--marker-cyan-grad);
}

#showMedicine span {
    background-image: url("../style/images/medicine.png");
    background-size: 25px;
    background-position: 4px 5px;
}

#showShelter {
    background-image: var(--marker-orange-grad);
}

#showShelter span {
    background-image: url("../style/images/Shelter.png");
    background-size: 25px;
    background-position: 4px 5px;
}

#showFood {
    background-image: var(--marker-green-grad);
}

#showFood span {
    background-image: url("../style/images/Food.png");
    background-size: 12px;
    background-position: 10px 5px;
}

#showWater {
    background-image: var(--marker-blue-grad);
}

#showWater span {
    background-image: url("../style/images/Water.png");
    background-size: 20px;
    background-position: 6px 5px;
}

.navbar-inverse .navbar-nav > li > a.btn:hover {
    color: white;
    background-color: #d83d2c;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: var(--bright-blue);
    background-color:  var(--med-blue);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus  {
    color: var(--bright-blue);
    background-color:  var(--med-blue);
}

.help-menu .btn {
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #d85b4d;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

.help-menu .btn:hover {
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

.dropdown-menu, .navbar-nav .open .dropdown-menu {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active,
.dropdown-menu > li > a.active {
    background-color: var(--med-blue);
    color: var(--bright-green);
}

.dropdown-menu > li > a:hover {
    color: #e7ffd9;
}

.main-content {
    margin-top: 10px;
}

.panel {
    background-color: var(--dark-blue-trans);
    border-color: var(--dark-gray);
}

.panel .panel, .well {
    border-color: var(--darkest-gray);
}

.panel-body {
    padding: 25px;
}

.map-small {
    margin-bottom: 20px;
    background-color: pink;
}

.map-small img {
    border-radius: 4px 4px 0px 0px;
}

.alert {
    margin-bottom: 0px;
}

.btn-save {
    background-color: forestgreen;
    color: white;
}

.btn-primary {
    background-image: var(--light-blue-grad);
    color: white;
}

.btn-row .btn {
    margin-right: 5px;
    margin-top: 5px;
}

.btn-primary:hover {
    background-color: color(var(--light-blue) shade(20%));
    background-image: none;
    color: white;
}

.btn-danger {
    background-image: linear-gradient(0deg, #951f1f, #e73131);
    border-color: #e73131;
}

.btn-danger:hover {
    background-color: color(#e73131 shade(20%));
    background-image: none;
    border-color: #e73131;
}

.btn .glyphicon, .well .well .glyphicon {
    margin-right: 7px;
}

a {
    color: var(--light-blue);
}

a:hover {
    color: color(var(--light-blue) tint(40%));
}

.icon-bar {
    height: 40px;
    background-color: #4e4d46;
    max-width: 400px;
    border-radius: 0px 0px 4px 4px;
    padding-left: 20px;
}

input.switch:empty
{
    margin-left: -1500px;
}

input.switch:empty ~ label
{
    position: relative;
    float: right;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #c33;
    border-radius: 0.3em;
    box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 0.15em;
    box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
    background-color: #393;
}

input.switch:checked ~ label:after
{
    margin-left: 2em;
}

.filter-caption {
    font-size: 10px;
}

.separated {
    margin-top: 20px;
}

.separated-large {
    margin-top: 40px;
}

.separated-small {
    margin-top: 10px;
}

.separated-tiny {
    margin-top: 5px;
}

#event-info h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#event-info h5 {
    margin-top: 3px;
    margin-bottom: 0px;
}

#map {
    margin-bottom: 10px;
}

#event-header-icon {
    width: 40px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.leaflet-popup-content {
    color: black;
}

.lang-img {
    width: 20px;
    height: 10px;
    margin-bottom: 2px;
    margin-right: 5px;
    border: 1px solid var(--dark-gray);
}

.close {
    color: #fff;
    opacity: 1;
}

.panel-borderless {
    border: 0;
}

.spacer {
    margin-top: 20px;
}

.popover-content {
    color: black;
    font-size: 12px;
}

.modal-content {
    position: relative;
    background-color: #4e5d6c;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.panel-footer {
    background-color: var(--dark-blue-trans);
    border-color: var(--dark-gray);
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
  color: red;
}