body {
	background-color: #a49f79;
	background-image: url("../style/images/sky5.jpg");
	background-position: center -120px;
	background-size: 100% auto;
	color: #53503d;
}

hr {
	border-color: #53503D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.well {
	background-color: #f7ffd9;
}

h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-control {
	background-color: #efffd9;
	color: black;
}

.navbar-inverse {
	background-color: rgba(117, 115, 105, 0.8);
	border-color: #888;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus  {
	background-color: rgba(117, 115, 105, 1);
	color: #e7ffd9;
}

.navbar-brand {
	padding: 5px 10px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #92e0ff;
}

.navbar-inverse .navbar-nav > li > a.btn {
	color: white;
}

.btn-toggle, .btn-toggle:hover {
	color: white;
	font-size: 14px;
	background-color: #555;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-left: 10px;
	padding-bottom: 0px;
	border: 4px solid #3C87A5;
}

.btn-toggle.active {
	background-color: #3C87A5;
	box-shadow: none;
}

#showNeedsMarkers {
	background-image:  url("../style/images/markers.png");
	background-position: -6px -3px;
}

#showClusters {
	background-image:  url("../style/images/marker-icon.png");
	background-position: -5px -3px;
}

#showLocationMarkers {
	background-image:  url("../style/images/marker2-icon.png");
	background-position: -4px -2px;
}

#showHeatmap {
	background-image: url("../style/images/heatmap.png");
	background-position: -4px -3px;
}

#showMedical.active {
	background-color: red;
	border: 4px solid red;
}

#showEvacuation.active {
	background-color: #ca62ff;
	border: 4px solid #ca62ff;
}

#showShelter.active {
	background-color: #ff9500;
	border: 4px solid #ff9500;
}

#showFood.active {
	background-color: #00a819;
	border: 4px solid #00a819;
}

#showWater.active {
	background-color: #087fff;
	border: 4px solid #087fff;
}

#showMedicine.active {
	background-color: #21dce4;
	border: 4px solid #21dce4;
}

#showEvacuation {
	border: 4px solid #ca62ff;
}

#showMedical {
	border: 4px solid red;
}

#showMedicine {
	border: 4px solid #21dce4;
	background-image: url("../style/images/medicine.png");
	background-position: -5px -3px;
}

#showShelter {
	border: 4px solid #ff9500;
}

#showFood {
	border: 4px solid #00a819;
}

#showWater {
	border: 4px solid #087fff;
}


a.btn-toggle span {
	margin: 0px;
}

.navbar-inverse .navbar-nav > li > a.btn:hover {
	color: white;
	background-color: #d83d2c;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #444;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #444;
	background-color:  #e7ffd9;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus  {
	color: #e7ffd9;
}

.help-menu .btn {
	height: 40px;
	font-weight: bold;
	color: white;
	background-color: #d85b4d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.help-menu .btn:hover {
	height: 40px;
	font-weight: bold;
	color: white;
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.btn-danger {
	margin: 5px;
}

.dropdown-menu, .navbar-nav .open .dropdown-menu {
	background-color: #cac7b1;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active, 
.dropdown-menu > li > a.active {
	background-color: #dedcce;
}

.dropdown-menu > li > a:hover {
	background-color: #e7ffd9;
}

.main-content {
	margin-top: 10px;
}

.panel {
	background-color: rgba(247, 255, 217, 0.7);
	border-color: #888;
}

.panel-body {
    padding: 25px;
}

.map-small {
	margin-bottom: 20px;
	background-color: pink;
}

.map-small img {
	border-radius: 4px 4px 0px 0px;
}

.btn-primary {
	background-color: #3c87a5;
	color: white;
}

.btn-primary:hover {
	background-color: #2d647b;
	color: white;
}

.btn span {
	margin-right: 7px;
}

a {
	color: #3c87a5;
}

a:hover {
	color: #2d647b;
}

.icon-bar {
	height: 40px;
	background-color: #4e4d46;
	max-width: 400px;
	border-radius: 0px 0px 4px 4px;
	padding-left: 20px;
}

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
}

.filter-caption {
	font-size: 10px;
}

.separated {
	margin-top: 20px;
}

.separated-small {
	margin-top: 10px;
}

.separated-tiny {
	margin-top: 5px;
}

#event-info h4 {
	margin-top: 5px;
	margin-bottom: 0px;
}

#event-info h5 {
	margin-top: 3px;
	margin-bottom: 0px;
}

#map {
	margin-bottom: 10px;
}