<div ng-controller="AboutCtrl">
    <div class="col-md-9" ng-show="isEnglish">
        <p>When disaster strikes, first responders need to know what areas have been hit the hardest and what resources are available to help, without delay. To meet this challenge, the Global Agenda Council on Space is leading development of <b style="color: #b5b9dc"><i>HelpNow™</i></b>, a free, open-source web tool that uses the power of space technologies to <b style="color: #b5b9dc"><i>deliver accurate, up-to-date information</i></b> rapidly to humanitarian relief efforts.</p><br />
        <h4 style="color: white;">Map-Based Interface</h4>
        <p>HelpNow integrates data from imaging satellites, communication networks and GPS as well as aid organizations and social media. From this data, the software generates a <b style="color: #b5b9dc"><i>simple, map-based user interface</i></b> that displays disaster-relief information using <b style="color: #b5b9dc"><i>intuitive icons.</i></b></p><br />
        <h4 style="color: white;">Matching Needs with Resources</h4>
        <p>HelpNow’s powerful algorithm enables the user to match the needs of victims quickly to available resources. The software’s icon-based interface allows users to choose between <b style="color: #b5b9dc"><i>multiple languages</i></b>. When widely used, HelpNow will help response teams and NGOs combine their strengths to reach more victims faster. </p><br />
        <h4 style="color: white;">Free and Readily Adaptable</h4>
        <p>HelpNow will be free to governments, NGOs and individuals. The software’s <b style="color: #b5b9dc"><i>open-source platform</i></b> makes it easy to incorporate additional plug-ins or apps. <b style="color: #b5b9dc"><i>Designed without proprietary information,</i></b> HelpNow is easy to integrate with existing humanitarian systems – facilitating collaboration and feature development. Critical data will be safeguarded with <b style="color: #b5b9dc"><i>controlled access</i></b> via permission-level logins.</p><br />
        <h4 style="color: white;">Next Steps</h4>
        <p>A select team from Lockheed Martin is developing the software, incorporating input from experts in the field of humanitarian aid. The <b style="color: #b5b9dc"><i>prototype, v0.1,</i></b> can be viewed at : <a href="http://helpnowmap.com">http://helpnowmap.com</a>. The <b style="color: #b5b9dc"><i>first version of the tool, v1.0,</i></b> will be available for use in June 2016. The site chosen for initial testing of HelpNow is <b style="color: #b5b9dc"><i>Bangladesh</i></b>, a nation challenged by severe seasonal flooding.</p><br />
    </div>
    <div class="col-md-12" ng-hide="isEnglish">
        <p>{{text.about_text_para_1}}</p>
        <p>{{text.about_text_para_2}}</p>
        <p>{{text.about_text_para_3}}</p>
        <p>{{text.about_text_para_4}}</p>
        <p>{{text.about_text_para_5}}</p>
        <p>{{text.about_text_para_6}}</p>
    </div>
    <div class="col-md-3" ng-show="isEnglish">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <h4 align="center" style="color: white;">History</h4>
                        <p>HelpNow was initiated by the <b style="color: #b5b9dc"><i>World Economic Forum (WEF)</i></b> and the <b style="color: #b5b9dc"><i>Global Agenda Council for Space (GAC-S)</i></b> to improve safety, security and quality of life worldwide through the use of space-enabled technologies. The chair of the GAC-S, Rick Ambrose of Lockheed Martin Space Systems Company, assembled the development team from Digital Globe, CauseLabs and Lockheed Martin. Satellite Application Catapult UK also helped refine requirements for the software’s initial release. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" ng-show="isEnglish">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <h4 align="center" style="color: white;">Thank You</h4>
                        <p>Lockheed Martin, Digital Globe, Amazon, Satellite Applications Catapult, Causelabs, DMCii, Deimos Imagery, Institute of Air and Space Law at McGill University, eGEOS. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="http://lockheedmartin.com"><img src="style/images/LM_logo_notagline_white.png" alt="Lockheed Martin" style="width: 200px; height: 48px"></a>
    <a href="http://aws.amazon.com/what-is-cloud-computing"><img src="http://awsmedia.s3.amazonaws.com/AWS_logo_poweredby_black_127px.png" alt="Powered by AWS Cloud Computing"></a>-->
</div>
