<div ng-controller="EventListCtrl">
    <div class="row">

        <!--Map-->
        <div class="col-lg-7 col-lg-offset-1 col-md-8 col-sm-7">
            <div id="map" map map-center="15.0, 25.0" map-zoom="2"></div>
        </div>
        
        <!--Events-->
        <div id="eventList" class="col-lg-3 col-md-4 col-sm-5">
            <div id="eventsTable">
                <div ng-repeat="event in events" class="dark-container">
                    <div class="row">
                        <div class="col-xs-3">
                            <a ng-hide="isLoggedIn" href="#event_map/{{event.EventID}}"><img class="resource-img" ng-src="{{getEventIcon(event.EventType.Description)}}" /></a>
                            <a ng-show="isLoggedIn" href="#org_event/{{event.EventID}}"><img class="resource-img" ng-src="{{getEventIcon(event.EventType.Description)}}" /></a>
                        </div>
                        <div class="col-xs-9">
                            <h4>{{event.EventType.Description}}</h4>
                            <h5>{{event.Summary}}</h5>
                            <a class="link-lat-long" ng-hide="isLoggedIn" href="#event_map/{{event.EventID}}">
                                ({{event.EventLocations[0].LAT}}, {{event.EventLocations[0].LONG}}, {{event.EventLocations[0].Radius}} km<sup>2</sup>)
                            </a>
                            <a class="link-lat-long" ng-show="isLoggedIn" href="#org_event/{{event.EventID}}">
                                ({{event.EventLocations[0].LAT}}, {{event.EventLocations[0].LONG}}, {{event.EventLocations[0].Radius}} km<sup>2</sup>)
                            </a>
                        </div>
                    </div>
                    <div class="separated-small">
                        <a ng-hide="isLoggedIn" id="btn-help" class="btn btn-danger full-width" href="#event_map/{{event.EventID}}"><span class="glyphicon glyphicon-warning-sign"></span>{{text.menu_help}}</a>
                        <a ng-show="isLoggedIn" id="btn-help" class="btn btn-danger full-width" href="#org_event/{{event.EventID}}"><span class="glyphicon glyphicon-warning-sign"></span>{{text.menu_help}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>