<div ng-controller="EventListCtrl">
    <div class="row">
        <div id="map" map map-center="20.0,0.0" map-zoom="2" class="col-md-9" style="height: 512px; border: 1px solid #AAA;"></div>
        <div id="eventList" class="col-md-3">
            <h4>Events</h4>
            <table id="eventsTable" style="margin-right: -10px;">
                <tr ng-repeat="event in events" style="border-bottom:2px solid;">
                    <td>
                        <a href="#event_map/{{event.EventID}}"><img src="{{getIcon(event.EventType.Description)}}" /></a>
                        <!--a id="btn-help" class="btn btn-danger" href="#/event_map/{{event.id}}" style="margin-left: 0px; margin-bottom: -10px;"><span class="glyphicon glyphicon-warning-sign"></span>Help!</!--a>-->
                    </td>
                    <td>
                        <h5>{{event.Summary}}</h5>
                        <h6>{{event.Organization.Name}}</h6>
                        <a href="#event_map/{{event.EventID}}">
                            ({{event.EventLocations[0].LAT}}, {{event.EventLocations[0].LONG}}, {{event.EventLocations[0].Radius}})
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type='text/javascript'>
/*
    var testData = {
        max: 8,
        data: [{ lat: 24.6408, lng: 46.7728, count: 3 }, { lat: 23.7301, lng: 90.3065, count: 2 }]
    };

    var baseLayer = L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
          minZoom: 2,
          maxZoom: 2,
          noWrap: true,
          zoomControl: false
      }
    );

    var earthquakeIcon = L.icon({
        iconUrl: 'style/images/icons/EarthquakeIcon.png',
        iconSize: [43, 44]
    });

    var floodIcon = L.icon({
        iconUrl: 'style/images/icons/FloodIcon.png',
        iconSize: [43, 44]
    });

    var tsunamiIcon = L.icon({
        iconUrl: 'style/images/icons/TsunamiIcon.png',
        iconSize: [43, 44]
    });

    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": 200,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": false,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": true,
        // which field name in your data represents the latitude - default "lat"
        latField: 'lat',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'lng',
        // which field name in your data represents the data value - default "value"
        valueField: 'count'
    };


    var heatmapLayer = new HeatmapOverlay(cfg);

    var map = new L.map('map', {
        layers: [baseLayer/*, heatmapLayer*//*],
        maxBounds: [[-90.0, -180], [90.0, 180.0]],
    }).setView([20.0, 0.0], 2);

    heatmapLayer.setData(testData);

    L.control.scale().addTo(map);

    map.on('click', function (e) {
        if (locationOutline != undefined) {
            map.removeLayer(locationOutline);
        }
        locationOutline = L.circle(e.latlng, overlayRadius).addTo(map);
    });

    var event1Marker = L.marker([23.713, 90.39], { icon: floodIcon }).addTo(map);
    var event2Marker = L.marker([-9.46, 147.18], { icon: tsunamiIcon }).addTo(map);
    var event3Marker = L.marker([-18.04, -70.174], { icon: earthquakeIcon }).addTo(map);

    event1Marker.on('click', function (e) {
        window.location.href = '#/event_map/1';
    });

    event2Marker.on('click', function (e) {
        window.location.href = '#/event_map/2';
    });

    event3Marker.on('click', function (e) {
        window.location.href = '#/event_map/3';
    });
*/
    /*var buildingOutline = L.polygon([
      [39.557040,-105.165888],
      [39.554856,-105.163232],
      [39.555838,-105.161837],
      [39.557963,-105.164502]
    ]).addTo(map);

    buildingOutline.bindPopup("Non-Existant Deer Creek Facility");*/

</script>