<div ng-controller="EventMapCtrl">
    <h2 style="margin-bottom: -5px; margin-top: -20px;"><img src="style/images/icons/FloodGray.png" style="height: 66px; width: 66px; margin-right: 5px;" />{{event.location}}</h2>
	<!--<h2>Event {{eventID}}</h2>-->
    <div id="map" class="col-md-9" style="height: 512px; border: 1px solid #AAA;" map></div>
    <div id="eventList" class="col-md-3">
        <table id="eventsTable" style="margin-right: -10px;">
            <tr>
                <td>
                    <img src="style/images/icons/FloodGray.png" style="height: 88px; width: 88px; margin-right: 5px;" />
                </td>
                <td>
                    <h3 style="margin-top: -5px;">{{event.eventType}}</h3>
                    <h5 style="margin-top: -10px; margin-bottom: -1px;">{{event.location}}</h5>
                    <a href="#\event_map\1">
                        ({{event.lat}}, {{event.long}}, {{event.eventRadius}}<sup>2</sup>)
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="style/images/icons/ClockIconGray.png" style="height: 44px; width: 44px;" />
                </td>
                <td>
                    <h4 style="margin-left: -25px;">{{event.eventDate}} {{event.eventTime}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="style/images/icons/PeopleIconGray.png" style="height: 44px; width: 44px;" />
                </td>
                <td>
                    <h4 style="margin-left: -25px;">More Information</h4>
                    <h5 style="margin-left: -25px;">{{event.contactPhone}}</h5>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<div class="separated">
						<a id="btn-login" class="btn btn-primary" href="#/org_event/{{event.id}}"><span class="glyphicon glyphicon-globe"></span>Aid Organization View</a>
					</div>
				</td>
			</tr>
        </table>
    </div>
    <div id="slider" style="height: 100px; width: 200px;">
        <span>Selection Radius: </span>
        <input id="overlayRadiusSlider" type="range" min="0" max="100" value="5" step="5" onchange="showValue(this.value)" />
        <span id="range">5 km</span>
        <br />
        <br />
        <input type="checkbox" id="unitsToggle" name="unitsToggle" class="switch" checked="checked" onchange="changeUnits(this.checked)" />
        <label for="unitsToggle">Metric</label>
    </div>
</div>

<script type="text/javascript">
    if (document.getElementById("overlayRadiusSlider").value == 0) {
        document.getElementById("range").innerHTML = 1 + " km";
    }
    document.getElementById("range").innerHTML = document.getElementById("overlayRadiusSlider").value + " km";
    var overlayRadius = document.getElementById("overlayRadiusSlider").value * 1000;
    var radiusRawVal = document.getElementById("overlayRadiusSlider").value;
    var locationOutline;
    var isMetric;

    function showValue(newValue) {
        if (newValue == 0)
            newValue = 1;


        radiusRawVal = newValue;
        if (isMetric) {
            overlayRadius = newValue * 1000 / 0.62137119;
            document.getElementById("range").innerHTML = newValue + " km";
        }
        else {
            overlayRadius = newValue * 1000 * 0.62137119;
            document.getElementById("range").innerHTML = newValue + " mi";
        }
            
        if (locationOutline != undefined)
            locationOutline.setRadius(overlayRadius);
    }

    function changeUnits(isChecked) {
        if (isChecked) {
            document.getElementById("range").innerHTML = radiusRawVal + " km";
            isMetric = true;
            overlayRadius = overlayRadius / 0.62137119;
            if (locationOutline != undefined)
                locationOutline.setRadius(overlayRadius);
        }
        else {
            document.getElementById("range").innerHTML = radiusRawVal + " mi";
            isMetric = false;
            overlayRadius = overlayRadius * 0.62137119;
            if (locationOutline != undefined)
                locationOutline.setRadius(overlayRadius);
        }
    }
</script>