<div ng-controller="GovLoginCtrl">
	<h2>Government Login</h2>
	<div class="form-group detail-row">
		<label>Government:</label>
		<input name="GovernmentName" type="text" class="form-control" />
	</div>
	<div class="form-group detail-row">
		<label>Password:</label>
		<input name="GovernmentPassword" type="password" class="form-control" />
	</div>
	<div class="separated">
		<a id="btn-login" class="btn btn-primary" href="#"><span class="glyphicon glyphicon-ok-circle"></span>Login</a>
	</div>
</div>