<div ng-controller="InventoryCtrl">
    <div id="map" map map-center="20.0,0.0" map-zoom="2" class="col-md-9" style="height: 512px; border: 1px solid #AAA;"></div>
    <div id="eventList" class="col-md-3">
        <div id="eventsTable">
            <div ng-repeat="resourceLocation in resourceLocations">
                <div class="row">
                    <div class="col-sm-9">
                        <h4>{{resourceLocation.Description}}</h4>
                    </div>
                    <div class="col-sm-9" style="padding-bottom: 10px;">
                        <!--<a href="#location_inventory.html/{{resourceLocation.ResourceLocationID}}">
                            ({{resourceLocation.LONG | number:2}}, {{resourceLocation.LAT| number:2}})
                        </a>-->
                        <a href="" ng-click="centerMapToLongLat(resourceLocation.LONG,resourceLocation.LAT)">({{resourceLocation.LONG | number:2}}, {{resourceLocation.LAT| number:2}})</a>
                    </div>
                    <div ng-repeat="resourceLocationTransport in resourceLocation.ResourceLocationTransports">
                        <div ng-if="resourceLocationTransport.TransportType.Description == 'Ground'" class="col-xs-4">
                            <img src="style/images/Transport-Ground.png" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div ng-if="resourceLocationTransport.TransportType.Description == 'Air'" class="col-xs-4">
                            <img src="style/images/Transport-Air.png" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div ng-if="resourceLocationTransport.TransportType.Description == 'Water'" class="col-xs-4">
                            <img src="style/images/Transport-Water.png" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <a id="btn-login" class="btn btn-primary pull-right" ng-click="showNewSiteForm()"><span class="glyphicon glyphicon-globe"></span>Add New Site</a>
        </div>
    </div>
    
    <div id="rightColumn" class="col-md-3" ng-if="showNewForm">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            Location Name:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px;" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Lat:&nbsp;<input ng-model="helpRequest.LAT" type="text" name="lat" style="width: 60px; margin-top: 10px;" />
                            Long:&nbsp;<input ng-model="helpRequest.LONG" type="text" name="long" style="width: 60px; margin-top: 10px;" />
                            <h5 align="center">OR</h5>
                            <h5 style="vertical-align:top">Address:<textarea rows="3" cols="25"></textarea></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px; " /><br />
                        </div>
                        <div class="col-xs-10">
                            Primary Contact:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px; margin-bottom: 2px;" /><br />
                            <input ng-model="newSite.LocationName" type="text" name="locationName" style="width: 170px;" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            Secondary Contact:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px; margin-bottom: 2px;" /><br />
                            <input ng-model="newSite.LocationName" type="text" name="locationName" style="width: 170px;" /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-primary" ng-click="showNewSiteForm()"><span></span>Back</a>
            <a id="btn-next" class="btn btn-primary pull-right" ng-click="showTransportation()"><span></span>Next</a>
        </div>
    </div>
    <div id="rightColumn" class="col-md-3" ng-if="showTransportationOptions">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            General Information<br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Phone.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            <input ng-model="newSite.PhoneNumber" type="text" style="width: 170px;" /><br /><br />
                        </div>
                    </div>
                    <div class="row">
                        Transportation Options:<br /><br />
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Ground-Transparent.png" ng-click="toggleTransport('showGround')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Air-Transparent.png" ng-click="toggleTransport('showAir')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Water-Transparent.png" ng-click="toggleTransport('showWater')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-save pull-right" ng-click="showTransportation()"><span></span>Save</a><br /><br /><br />
            <a id="btn-next" class="btn btn-danger pull-right" ng-click="removeLocation()"><span></span>Remove This Location</a>
        </div>
    </div>
</div>
