<div ng-controller="InventoryCtrl">
    <div id="map" map map-center="20.0,0.0" map-zoom="2" class="col-md-9" style="height: 512px; border: 1px solid #AAA;"></div>
    <div id="registryList" class="col-md-3" ng-if="showRegistries">
        <table id="registryTable" style="margin-right: -10px;">
            <tr ng-repeat="registry in registries" style="border-bottom:2px solid;">
                <td>
                    <h5>{{registry.Notes}}</h5>
                    <a href="#event_map/{{event.EventID}}">
                        (23.713, 90.39)
                    </a>
                </td>
            </tr>
        </table>
        <a id="btn-login" class="btn btn-primary pull-right" ng-click="showNewSiteForm()"><span class="glyphicon glyphicon-globe"></span>Add New Site</a>
    </div>
    <div id="rightColumn" class="col-md-3" ng-if="showNewForm">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            Location Name:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px;" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Lat:&nbsp;<input ng-model="helpRequest.LAT" type="text" name="lat" style="width: 60px; margin-top: 10px;" />
                            Long:&nbsp;<input ng-model="helpRequest.LONG" type="text" name="long" style="width: 60px; margin-top: 10px;" />
                            <h5 align="center">OR</h5>
                            <h5 style="vertical-align:top">Address:<textarea rows="3" cols="25"></textarea></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px; " /><br />
                        </div>
                        <div class="col-xs-10">
                            Primary Contact:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px; margin-bottom: 2px;" /><br />
                            <input ng-model="newSite.LocationName" type="text" name="locationName" style="width: 170px;" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            Secondary Contact:<br /><input ng-model="newSite.LocationName" type="text" style="width: 170px; margin-bottom: 2px;" /><br />
                            <input ng-model="newSite.LocationName" type="text" name="locationName" style="width: 170px;" /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-primary" ng-click="showNewSiteForm()"><span></span>Back</a>
            <a id="btn-next" class="btn btn-primary pull-right" ng-click="showTransportation()"><span></span>Next</a>
        </div>
    </div>
    <div id="rightColumn" class="col-md-3" ng-if="showTransportationOptions">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="style/images/Team.png" style="height: 30px; width: 30px; margin-right: 5px;" /><br />
                        </div>
                        <div class="col-xs-10">
                            General Information:<br /><input ng-model="newSite.PhoneNumber" type="text" style="width: 170px;" /><br /><br />
                        </div>
                    </div>
                    <div class="row">
                        Transportation Options:<br /><br />
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Ground-Transparent.png" ng-click="toggleTransport('showGround')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Air-Transparent.png" ng-click="toggleTransport('showAir')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                        <div class="col-xs-4">
                            <img src="style/images/Transport-Water-Transparent.png" ng-click="toggleTransport('showWater')" style="height: 30px; width: 50px; margin-right: 5px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-save pull-right" ng-click="showTransportation()"><span></span>Save</a><br /><br /><br />
            <a id="btn-next" class="btn btn-danger pull-right" ng-click="removeLocation()"><span></span>Remove This Location</a>
        </div>
    </div>
    <div id="helpPanel" class="col-md-3" ng-if="showHelp">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="style/images/icons/FloodGray.png" style="height: 52px; width: 52px;" />
                        </div>
                        <div id="event-title" class="col-xs-8">
                            <h4>{{event.EventType.Description}}</h4>
                            <h5 style="margin-top: -8px;">{{event.EventLocations[0].Description}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#\event_map\{{event.EventID}}" style="margin-top: -10px;">
                                ({{event.EventLocations[0].LAT}}, {{event.EventLocations[0].LONG}}, {{event.EventLocations[0].Radius}} km<sup>2</sup>)
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="separated" />
                            <input ng-model="locationPref.value" type="radio" value="Current" ng-change="getLocation()" />&nbsp;&nbsp;&nbsp;Use My Current Location<br />
                            <input ng-model="locationPref.value" type="radio" value="Other" ng-change="getLocation()" />&nbsp;&nbsp;&nbsp;Use The Following Location
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Lat:&nbsp;<input ng-model="helpRequest.LAT" type="text" name="lat" style="width: 60px; margin-top: 10px;" />
                            Long:&nbsp;<input ng-model="helpRequest.LONG" type="text" name="long" style="width: 60px; margin-top: 10px;" />
                            <h5 align="center">OR</h5>
                            <h5 style="vertical-align:top">Address:<textarea rows="3" cols="25"></textarea></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Impacted Region Size:&nbsp;<input ng-model="helpRequest.AreaSize" disabled="disabled" type="text" name="RegionSize" style="width: 50px; margin-top: 10px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="style/images/icons/PersonIcon.png" style="height: 33px; width: 33px; margin-right: -13px; margin-left:-15px;" />
                            &nbsp;&nbsp;Number of People:&nbsp;&nbsp;&nbsp;<input ng-model="helpRequest.Quantity" type="text" ng-keypress="validateNumber($event)" name="NumPeople" style="width: 50px; margin-top: 10px;" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="style/images/icons/ExclamationIcon.png" style="height: 50px; width: 33px; margin-right: -13px; margin-top: -12px; margin-left:-15px;" />
                            &nbsp;&nbsp;Criticality:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select ng-model="helpRequest.RequestUrgencyID">
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                                <option value="4">Critical</option>
                                <option value="5">Danger</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-primary" ng-click="toggleHelp()"><span></span>Back</a>
            <a id="btn-next" class="btn btn-primary pull-right" ng-click="toggleNeeds()"><span></span>Next</a>
        </div>
    </div>
    <div id="needsPanel" class="col-md-3" ng-if="showNeeds">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="style/images/Team.png" style="height: 66px; width: 66px; margin-right: 5px;" /><br />(Optional)
                        </div>
                        <div class="col-xs-8">
                            Name:<br /><input ng-model="helpRequest.RequestorName" type="text" name="name" style="width: 130px;" /><br />
                            Phone:<br /><input ng-model="helpRequest.RequestorPhone" type="text" name="phone" style="width: 130px;" /><br />
                            Email:<br /><input ng-model="helpRequest.RequestorEmail" type="text" name="email" style="width: 130px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input ng-model="helpRequest.RequestorUpdatePref" type="checkbox" name="pinLocation" value="useCurrentLocation" checked="checked" />&nbsp;&nbsp;&nbsp;Send Email or Text Updates
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Needs</h4>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div id="needs-section">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a id="showMedical" ng-class="toggleButtonClass('showMedicalNeed')" ng-click="toggleNeed('showMedicalNeed')"><span class="glyphicon glyphicon-plus"></span></a>
                                    <br />
                                    <span class="filter-caption">First Aid</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a id="showShelter" ng-class="toggleButtonClass('showShelterNeed')" ng-click="toggleNeed('showShelterNeed')"><span class="glyphicon glyphicon-home"></span></a>
                                    <br />
                                    <span class="filter-caption">Shelter</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a id="showFood" ng-class="toggleButtonClass('showFoodNeed')" ng-click="toggleNeed('showFoodNeed')"><span class="glyphicon glyphicon-cutlery"></span></a>
                                    <br />
                                    <span class="filter-caption">Food</span>
                                </div>
                            </div>
                            <div class="row separated-small">
                                <div class="col-xs-4 text-center">
                                    <a id="showMedicine" ng-class="toggleButtonClass('showMedicineNeed')" ng-click="toggleNeed('showMedicineNeed')"><span class="glyphicon glyphicon-erase"></span></a>
                                    <br />
                                    <span class="filter-caption">Medicine</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a id="showWater" ng-class="toggleButtonClass('showWaterNeed')" ng-click="toggleNeed('showWaterNeed')"><span class="glyphicon glyphicon-tint"></span></a>
                                    <br />
                                    <span class="filter-caption">Water</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a id="showEvacuation" ng-class="toggleButtonClass('showEvacuationNeed')" ng-click="toggleNeed('showEvacuationNeed')"><span class="glyphicon glyphicon-plane"></span></a>
                                    <br />
                                    <span class="filter-caption">Evacuation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <a id="btn-back" class="btn btn-primary" ng-click="toggleNeeds()"><span></span>Back</a>
            <a id="btn-next" class="btn btn-primary pull-right" ng-click="sendNeedRequest()"><span></span>Send Request</a>
        </div>
    </div>
</div>
