<div ng-controller="LoginCtrl">
    <div class="form-group detail-row">
        <label>{{text.username_label}}:</label>
        <input name="Username" ng-model="userCreds.username" type="text" class="form-control" />
    </div>
    <div class="form-group detail-row">
        <label>{{text.password_label}}:</label>
        <input name="Password" ng-model="userCreds.password" type="password" class="form-control" />
    </div>
    <a href="#/forgot_password" class="pull-right">
        <label>{{text.forgot_password_label}}</label>
    </a>
    <div class="separated">
        <a id="btn-login" class="btn btn-primary" ng-click="validateUser()"><span class="glyphicon glyphicon-ok-circle"></span>{{text.login}}</a>
        <a id="btn-login" class="btn btn-primary" href="/auth/facebook"><span class="glyphicon glyphicon-ok-circle"></span>{{text.btn_facebook}}</a>
    </div>
</div>