<div ng-controller="OrgEventCtrl">
	<div id="map" ng-if="event" map map-center="{{event.EventLocations[0].LAT}},{{event.EventLocations[0].LONG}}" map-zoom="13" class="col-md-9" style="height: 512px; border: 1px solid #AAA;"></div>
	<div  class="col-md-3">
		<div id="eventInfo" ng-hide="showFilters" ng-include="'views/fragments/event-info.html'"></div>
		<div class="row" ng-hide="showFilters">
			<div class="col-md-12">
				<a class="btn btn-primary" ng-click="toggleFilters()"><span class="glyphicon glyphicon-filter"></span> Show Filters</a>
			</div>
		</div>
		<div class="row" ng-show="showFilters">
			<div class="col-md-12">
				<div class="well">
					<a class="btn btn-primary pull-right" ng-click="toggleFilters()"><span class="glyphicon glyphicon-eye-close"></span> Hide</a>
					<h4><span class="glyphicon glyphicon-filter"></span> Filters</h4>
					<div id="filter-section">
						<hr class="separated"></hr>
						<div class="row">
							<div class="col-xs-4 text-center">
								<a id="showNeedsMarkers" ng-class="toggleButtonClass('showNeedsMarkers')" ng-click="toggleButton('showNeedsMarkers')" >
									<span></span>
								</a>
								<br/>
								<span class="filter-caption">Needs</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showClusters" ng-class="toggleButtonClass('showClusters')" ng-click="toggleButton('showClusters')" >
									<span></span>
								</a>
								<br/>
								<span class="filter-caption">Clusters</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showHeatmap" ng-class="toggleButtonClass('showHeatmap')" ng-click="toggleButton('showHeatmap')">
									<span></span>
								</a>
								<br/>
								<span class="filter-caption">Heatmap</span>
							</div>
						</div>
						<div class="row separated-small">
							<div class="col-xs-4 text-center">
								<a id="showLocationMarkers" ng-class="toggleButtonClass('showLocationMarkers')" ng-click="toggleButton('showLocationMarkers')">
									<span></span>
								</a>
								<br/>
								<span class="filter-caption">Resources</span>
							</div>
						</div>
						<hr></hr>
						<div class="row">
							<div class="col-xs-4 text-center">
								<a id="showMedical" ng-class="toggleButtonClass('showMedical')" ng-click="toggleButton('showMedical')" ><span></span></a>
								<br/>
								<span class="filter-caption">First Aid</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showShelter" ng-class="toggleButtonClass('showShelter')" ng-click="toggleButton('showShelter')"><span></span></a>
								<br/>
								<span class="filter-caption">Shelter</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showFood" ng-class="toggleButtonClass('showFood')" ng-click="toggleButton('showFood')"><span></span></a>
								<br/>
								<span class="filter-caption">Food</span>
							</div>
						</div>
						<div class="row separated-small">
							<div class="col-xs-4 text-center">
								<a id="showMedicine" ng-class="toggleButtonClass('showMedicine')" ng-click="toggleButton('showMedicine')"><span></span></a>
								<br/>
								<span class="filter-caption">Medicine</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showWater" ng-class="toggleButtonClass('showWater')" ng-click="toggleButton('showWater')"><span></span></a>
								<br/>
								<span class="filter-caption">Water</span>
							</div>
							<div class="col-xs-4 text-center">
								<a id="showEvacuation" ng-class="toggleButtonClass('showEvacuation')" ng-click="toggleButton('showEvacuation')"><span></span></a>
								<br/>
								<span class="filter-caption">Evacuation</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>