<div ng-controller="OrgEventCtrl">
    <div id="map" ng-if="event" map map-center="{{event.EventLocations[0].LAT}},{{event.EventLocations[0].LONG}}" map-zoom="13" map-event="{{event.EventID}}" class="col-md-9" style="height: 512px; border: 1px solid #AAA;"></div>
    <div class="col-md-3">
        <div id="eventInfo" ng-hide="panelIsOpen()" ng-include="'views/fragments/event-info.html'"></div>
        <div class="row" ng-hide="panelIsOpen()">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="toggleFilters()"><span class="glyphicon glyphicon-filter"></span> {{text.btn_show_filters}}</a>
            </div>
        </div>
        <div class="row separated-small" ng-hide="panelIsOpen()">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="toggleFindPanel()"><span class="glyphicon glyphicon-search"></span> {{text.btn_find_resources}}</a>
            </div>
        </div>
        <div class="row separated-small" ng-hide="panelIsOpen()">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="toggleDeployPanel()"><span class="glyphicon glyphicon-plus-sign"></span> {{text.btn_deploy_resources}}</a>
            </div>
        </div>
		<div class="row separated-small" ng-hide="panelIsOpen()">
            <div class="col-md-12">
                <a class="btn btn-primary" ng-click="toggleBlockagePanel()"><span class="glyphicon glyphicon-exclamation-sign"></span> {{text.report_blockage_title}}</a>
            </div>
        </div>
        <div class="row separated-small" ng-hide="panelIsOpen()">
            <div class="col-md-12">
                <a class="btn btn-primary" href="#/new_map_layer/{{event.EventID}}/0"><span class="glyphicon glyphicon-globe"></span> {{text.btn_new_map_layer}}</a>
            </div>
        </div>

        <div class="row" ng-show="showFilters">
            <div class="col-md-12">
                <div class="well">
                    <a class="btn btn-primary pull-right" ng-click="toggleFilters()"><span class="glyphicon glyphicon-eye-close"></span> {{text.btn_hide}}</a>
                    <h4><span class="glyphicon glyphicon-filter"></span> {{text.filters_label}}</h4>
                    <div id="filter-section">
                        <hr class="separated"></hr>
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a id="showClusters" ng-class="toggleButtonClass('showClusters')" ng-click="toggleButton('showClusters')">
                                    <span></span>
                                </a>
                                <br />
                                <span class="filter-caption">{{text.clusters_label}}</span>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a id="showHeatmap" ng-class="toggleButtonClass('showHeatmap')" ng-click="toggleButton('showHeatmap')">
                                    <span></span>
                                </a>
                                <br />
                                <span class="filter-caption">{{text.heatmap_label}}</span>
                            </div>
							<div class="col-xs-4 text-center">
                                <a id="showBlockageMarkers" ng-class="toggleButtonClass('showBlockageMarkers')" ng-click="toggleButton('showBlockageMarkers')">
                                    <span></span>
                                </a>
                                <br />
                                <span class="filter-caption">{{text.blockages_header}}</span>
                            </div>
                        </div>
                        <div class="row separated-small">
                            <div class="col-xs-4 text-center">
                                <a id="showLocationMarkers" ng-class="toggleButtonClass('showLocationMarkers')" ng-click="toggleButton('showLocationMarkers')">
                                    <span></span>
                                </a>
                                <br />
                                <span class="filter-caption">{{text.resources_label}}</span>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a id="showDistCenterMarkers" ng-class="toggleButtonClass('showDistCenterMarkers')" ng-click="toggleButton('showDistCenterMarkers')">
                                    <span></span>
                                </a>
                                <br />
                                <span class="filter-caption">{{text.dist_centers_label}}</span>
                            </div>
                        </div>
                        <hr></hr>
                        <div filters classfunc="toggleResourceButtonClass" togglefunc="toggleResourceFilter" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="showFindPanel">
            <div class="col-md-12">
                <div class="well">

                    <div ng-hide="showFindResults">
                        <div class="row">
                            <div class="col-xs-2">
                                <img width="30" height="30" src="style/images/Match.png" />
                            </div>
                            <div id="event-title" class="col-xs-10">
                                <h4 class="separated-tiny">{{text.match_resources_header}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr />
                                <input ng-model="locationPref.value" type="radio" value="Current" ng-change="getLocation()" /><span>  {{text.my_location_label}}</span><br />
                                <input ng-model="locationPref.value" type="radio" value="Other" ng-change="getLocation()" /><span>  {{text.map_location_label}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span>{{text.lat_label}} </span><input ng-model="mappingLoc.LAT" type="text" class="form-control" name="lat" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                                <span>{{text.long_label}} </span><input ng-model="mappingLoc.LONG" type="text" class="form-control" name="long" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                            </div>
                        </div>
                        <div class="well separated-small">
                            <span class="glyphicon glyphicon-pushpin"></span> {{text.map_note}}
                        </div>
                        <hr></hr>
                        <div filters classfunc="toggleMatchingButtonClass" togglefunc="toggleMatchingFilter" />
                        <hr></hr>
                        <div class="row separated" ng-show="showMappingError">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert">{{text.match_error}}</div>
                            </div>
                        </div>
                        <div class="row separated-small">
                            <div class="col-sm-12 btn-row">
                                <a class="btn btn-primary" ng-click="findMatches()"><span class="glyphicon glyphicon-search"></span>{{text.btn_match}}</a>
                                <a class="btn btn-primary" ng-click="toggleFindPanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                            </div>
                        </div>
                    </div>

                    <div ng-show="showFindResults">
                        <div class="row">
                            <div class="col-xs-4">
                                <img width="50" height="50" src="style/images/Match.png" />
                            </div>
                            <div id="event-title" class="col-xs-8">
                                <h4>{{text.match_results_header}}</h4>
                                <h5><a ng-click="showLocation(mappingLoc.LAT, mappingLoc.LONG)" href="">({{mappingLoc.LAT}}, {{mappingLoc.LONG}})</a></h5>
                            </div>
                        </div>
                        <div class="row separated-small">
                            <div class="col-xs-12">
                                {{text.resource_types_label}}: {{getMatchResources()}}
                            </div>
                        </div>
                        <hr></hr>
                        <div ng-repeat="match in matches">
                            <div class="row separated-small">
                                <div class="col-xs-3">
                                    <a ng-click="showLocation(match.LAT, match.LONG)" href=""><img width="40" src="style/images/Distribution-Center.png" /></a>
                                </div>
                                <div class="col-xs-9">
                                    <h4><a ng-click="showLocation(match.LAT, match.LONG)" href="">{{match.Organization.Name}}</a></h4>
                                    <h5>{{match.Description}}</h5>
                                    <h5 style="color:{{getRouteColor($index)}}">{{match.Distance}} {{text.minutes_label}}</h5>
                                    <div>
                                        <a tabindex="0" class="btn btn-primary" uib-popover-html="'{{getCleanLocationText(match)}}'" popover-trigger="focus"><span class="glyphicon glyphicon-list"></span>{{text.btn_more_info}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 ng-hide="hasMatches">{{text.no_dist_ctr_match_label}}</h5>
                        <hr></hr>
                        <div class="row separated">
                            <div class="col-sm-12 btn-row">
                                <a class="btn btn-primary" ng-click="backToFind()"><span class="glyphicon glyphicon-arrow-left"></span>{{text.back}}</a>
                                <a class="btn btn-primary" ng-click="toggleFindPanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" ng-show="showDeployPanel">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img width="30" src="style/images/Distribution-Center.png" />
                        </div>
                        <div id="event-title" class="col-xs-10">
                            <h4 class="separated-tiny">{{text.deploy_resources_header}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr />
                            <input ng-model="locationPref.value" type="radio" value="Current" ng-change="getLocation()" /><span>  {{text.my_location_label}}</span><br />
                            <input ng-model="locationPref.value" type="radio" value="Other" ng-change="getLocation()" /><span>  {{text.map_location_label}}:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span>{{text.lat_label}} </span><input ng-model="deployment.LAT" type="text" class="form-control" name="lat" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                            <span>{{text.long_label}} </span><input ng-model="deployment.LONG" type="text" class="form-control" name="long" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                        </div>
                    </div>
                    <div class="well separated-small">
                        <span class="glyphicon glyphicon-pushpin"></span> {{text.map_note}}
                    </div>
                    <hr></hr>
                    <div class="row separated">
                        <div class="col-sm-12 btn-row">
                            <a class="btn btn-primary" ng-click="createDeployment()"><span class="glyphicon glyphicon-plus-sign"></span>{{text.btn_deploy}}</a>
                            <a class="btn btn-primary" ng-click="toggleDeployPanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="row" ng-show="showBlockagePanel">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                           <img width="30" src="style/images/Alert.png" />
                        </div>
                        <div id="event-title" class="col-xs-10">
                            <h4 class="separated-tiny">{{text.report_blockage_title}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr />
                            <input ng-model="locationPref.value" type="radio" value="Current" ng-change="getLocation()" /><span>  {{text.my_location_label}}</span><br />
                            <input ng-model="locationPref.value" type="radio" value="Other" ng-change="getLocation()" /><span>  {{text.map_location_label}}:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span>{{text.lat_label}} </span><input ng-model="blockage.LAT" type="text" class="form-control" name="lat" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                            <span>{{text.long_label}} </span><input ng-model="blockage.LONG" type="text" class="form-control" name="long" style="display:inline; width: 34%; margin-top: 10px; color: black;" />
                        </div>
                    </div>
                    <div class="well separated-small">
                        <span class="glyphicon glyphicon-pushpin"></span> {{text.map_note}}
                    </div>
					<div class="row separated-small">
                        <div class="col-xs-12">
							<div class="form-group">
								<span>{{text.description_label}}:</span>
								<textarea ng-model="blockage.Description" class="form-control"></textarea>
							</div>
                        </div>
                    </div>
                    <hr></hr>
                    <div class="row separated">
                        <div class="col-sm-12 btn-row">
                            <a class="btn btn-primary" ng-click="reportBlockage()"><span class="glyphicon glyphicon-plus-sign"></span>{{text.report_label}}</a>
                            <a class="btn btn-primary" ng-click="toggleBlockagePanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="showDeploymentPanel">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img width="30" src="style/images/Distribution-Center.png" />
                        </div>
                        <div id="event-title" class="col-xs-10">
                            <h4 class="separated-tiny">{{deployment.Description}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="separated-small"><strong>{{text.primary_poc_name_label}}: </strong>{{deployment.PrimaryPOCName}}</div>
                            <div class="separated-small"><strong>{{text.primary_poc_phone_label}}: </strong>{{deployment.PrimaryPOCPhone}}</div>
                            <div ng-repeat="inventory in deployment.ResourceLocationInventories" class="separated-small">
                                <strong>{{getResourceName(inventory)}}: </strong> {{inventory.Quantity}} {{inventory.ResourceTypeUnitOfMeasure.Description}}
                            </div>
                        </div>
                    </div>
                    <hr></hr>
                    <div class="row separated">
                        <div class="col-sm-12 btn-row">
                            <a class="btn btn-primary" ng-click="modifyDeployment()"><span class="glyphicon glyphicon-pencil"></span>{{text.btn_modify}}</a>
                            <a class="btn btn-primary" ng-click="closeDeploymentPanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="row" ng-show="showBlockageDetailPanel">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-2">
                            <img width="30" src="style/images/Alert.png" />
                        </div>
                        <div id="event-title" class="col-xs-10">
                            <h4 class="separated-tiny">{{text.blockage_details_title}}</h4>
                        </div>
                    </div>
					<h5 class="separated-small">({{blockage.LAT}}, {{blockage.LONG}})</h5>
					<div class="separated-small">{{blockage.Description}}</div>
                    <hr></hr>
                    <div class="row separated">
                        <div class="col-sm-12 btn-row">
                            <a class="btn btn-danger" ng-click="removeBlockage()"><span class="glyphicon glyphicon-trash"></span>{{text.remove}}</a>
                            <a class="btn btn-primary" ng-click="closeBlockageDetailPanel()"><span class="glyphicon glyphicon-remove-sign"></span>{{text.btn_close}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>