<div ng-controller="InventoryCtrl">

    <div class="row">

        <!--Map-->
        <div id="map" map map-center="20.0,0.0" map-zoom="2" class="col-lg-7 col-lg-offset-1 col-md-8 col-sm-7"></div>

        <!--Resource Locations-->
        <div id="resourceLocationList" class="col-lg-3 col-md-4 col-sm-5" ng-if="showResourceLocations">
            <div class="dark-container">
                <div id="resourceLocationTable">

                    <div ng-repeat="resourceLocation in resourceLocations">

                        <div class="row">
                            <div class="col-sm-10">
                                <a href ng-click="resourceLocationClick(resourceLocation.LAT, resourceLocation.LONG,resourceLocation.ResourceLocationID)">
                                    <h4 style="text-decoration:underline;">{{resourceLocation.Description}}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href ng-click="showNewEditForm(resourceLocation.ResourceLocationID)">
                                    <img class="inventory-img" src="style/images/Edit.png" style="height: 22px; width: 22px;" />
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a href ng-click="resourceLocationClick(resourceLocation.LAT, resourceLocation.LONG,resourceLocation.ResourceLocationID)">({{resourceLocation.LAT| number:2}}, {{resourceLocation.LONG | number:2}})</a>
                            </div>
                        </div>

                        <div class="row spacer">
                            <div ng-repeat="resourceLocationTransport in resourceLocation.ResourceLocationTransports">
                                <div ng-if="resourceLocationTransport.TransportType.Description == 'Ground'" class="col-sm-4 col-xs-3">
                                    <img src="style/images/Transport-Ground.png" style="height: 30px; width: 50px;" />
                                </div>
                                <div ng-if="resourceLocationTransport.TransportType.Description == 'Air'" class="col-sm-4 col-xs-3">
                                    <img src="style/images/Transport-Air.png" style="height: 30px; width: 50px;" />
                                </div>
                                <div ng-if="resourceLocationTransport.TransportType.Description == 'Water'" class="col-sm-4 col-xs-3">
                                    <img src="style/images/Transport-Water.png" style="height: 30px; width: 50px;" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="dark-container">
                <a class="btn btn-primary full-width" ng-click="showNewEditForm()"><span class="glyphicon glyphicon-globe"></span>{{text.add_new_site}}</a>
            </div>
        </div>

        <!--Add New Site/Resource Location Form-->
        <form name="reslocform1">
            <div id="rightColumn" class="col-lg-3 col-md-4 col-sm-5 form-group" ng-if="showLocationForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dark-container">

                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="style/images/Label.png" style="width: 30px;" />
                                </div>
                                <div class="col-xs-10 form-group" show-errors>
                                    <label>{{text.location_name}}</label><br>
                                    <input name="reslocname" ng-model="currentResourceLocation.Description" class="form-control" type="text" required />
                                    <div class="help-block error" ng-if="reslocform1.reslocname.$error.required">{{text.required}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <input ng-model="locationPref.value" type="radio" value="Current" ng-change="getLocation()" /><span>  {{text.current_location}}</span><br>
                                    <input ng-model="locationPref.value" type="radio" value="Other" ng-change="getLocation()" /><span>  {{text.manual_location}}</span>
                                </div>
                            </div>

                            <div class="row row-lat-long">
                                <div class="col-xs-6 form-group" show-errors>
                                    <label>{{text.lat}}</label><br>
                                    <input ng-model="currentResourceLocation.LAT" type="text" class="form-control" name="lat" latitude required />
                                    <div class="help-block error" ng-if="reslocform1.lat.$error.required">{{text.required}}</div>
                                    <div class="help-block error" ng-if="reslocform1.lat.$error.latitude">{{text.invalid}}</div>
                                </div>
                                <div class="col-xs-6 form-group" show-errors>
                                    <label>{{text.long}}</label><br>
                                    <input ng-model="currentResourceLocation.LONG" type="text" class="form-control" name="long" longitude required />
                                    <div class="help-block error" ng-if="reslocform1.long.$error.required">{{text.required}}</div>
                                    <div class="help-block error" ng-if="reslocform1.long.$error.longitude">{{text.invalid}}</div>
                                </div>
                            </div>

                            <div class="dark-container separated-small">
                                <span class="glyphicon glyphicon-pushpin"></span> {{text.note_lat_long}}
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-10">
                                    <label>{{text.primary_contact}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="style/images/Team.png" style="width: 30px;" />
                                </div>
                                <div class="col-xs-10">
                                    <input ng-model="currentResourceLocation.PrimaryPOCName" class="form-control" type="text" />
                                </div>
                            </div>

                            <div class="row separated-small">
                                <div class="col-xs-2">
                                    <img src="style/images/Phone.png" style="width: 30px" />
                                </div>
                                <div class="col-xs-10">
                                    <input ng-model="currentResourceLocation.PrimaryPOCPhone" class="form-control" type="tel" />
                                </div>
                            </div>

                            <div class="row separated-small">
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-10">
                                    <label>{{text.secondary_contact}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="style/images/Team.png" style="width: 30px;" />
                                </div>
                                <div class="col-xs-10">
                                    <input ng-model="currentResourceLocation.SecondaryPOCName" class="form-control" type="text" />
                                </div>
                            </div>

                            <div class="row separated-small">
                                <div class="col-xs-2">
                                    <img src="style/images/Phone.png" style="width: 30px" />
                                </div>
                                <div class="col-xs-10">
                                    <input ng-model="currentResourceLocation.SecondaryPOCPhone" class="form-control" type="tel" />
                                </div>
                            </div>

                            <hr class="separated-small">
                            <a id="btn-back" class="btn btn-primary" ng-click="showLocationsDiv()"><span class="glyphicon glyphicon-remove"></span>{{text.cancel}}</a>
                            <a id="btn-next" class="btn btn-primary pull-right" ng-click="showTransportationDiv()">{{text.next}}&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Transportation Options Panel-->
            <div id="rightColumn" class="col-lg-3 col-md-4 col-sm-5" ng-if="showTransportationOptionsForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dark-container">

                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="style/images/Team.png" style="width: 30px;" />
                                </div>
                                <div class="col-xs-10">
                                    <label>{{text.general_information}}</label>
                                </div>
                            </div>

                            <div class="row separated-small">
                                <div class="col-xs-12">
                                    <textarea ng-model="currentResourceLocation.Notes" class="form-control" maxlength="1000"></textarea>
                                </div>
                            </div>

                            <div class="row spacer">
                                <div class="col-xs-12">
                                    <label>{{text.transportation_options}}</label>
                                </div>
                                <div class="col-sm-4 col-xs-3 separated-small" ng-repeat="transport in transportTypes">
                                    <a href ng-click="toggleTransport(transport.TransportTypeID)" ng-if="showTransparentTransport(transport.Description)">
                                        <img ng-src="style/images/Transport-{{transport.Description}}-Transparent.png" style="width: 45px;" />
                                    </a>
                                    <a href ng-click="toggleTransport(transport.TransportTypeID)" ng-if="showTransport(transport.Description)">
                                        <img ng-src="style/images/Transport-{{transport.Description}}.png" style="width: 45px;" />
                                    </a>
                                </div>
                            </div>

                            <hr class="spacer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a id="btn-back" class="btn btn-primary" ng-click="showLocationDiv()"><span class="glyphicon glyphicon-chevron-left"></span>{{text.back}}</a>
                                    <a id="btn-save" class="btn btn-success pull-right" ng-click="saveResourceLocation()"><span class="glyphicon glyphicon-save"></span>{{text.save}}</a>
                                </div>
                            </div>
                            <div class="row" ng-if="editMode">
                                <div class="col-sm-12">
                                    <a id="btn-delete" class="btn btn-danger pull-left" ng-click="modalDeleteResourceLocation()" style="margin-top: 10px;">{{text.delete_location}}</a>
                                </div>
                            </div>
                            <div class="row" ng-if="!editMode">
                                <div class="col-sm-12">
                                    <a id="btn-cancel" class="btn btn-primary pull-left" ng-click="showLocationsDiv()" style="margin-top: 10px;"><span class="glyphicon glyphicon-remove"></span>{{text.cancel}}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Show Resource Location Panel-->
        <div id="rightColumn" class="col-lg-3 col-md-4 col-sm-5" ng-if="showResourceLocation">
            <div class="row">
                <div class="col-md-12">
                    <div class="dark-container">

                        <div class="row">
                            <div class="col-sm-10">
                                <h4>{{currentResourceLocation.Description}}</h4>
                                ({{currentResourceLocation.LAT | number:2}}, {{currentResourceLocation.LONG | number:2}})
                            </div>
                            <div class="col-sm-2">
                                <a id="btn-remove" class="close pull-right" ng-click="showLocationsDiv()"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-2">
                                <img src="style/images/Team.png" style="width: 22px;" />
                            </div>
                            <div class="col-sm-10">
                                {{currentResourceLocation.PrimaryPOCName}}<br> {{currentResourceLocation.PrimaryPOCPhone}}
                            </div>
                        </div>

                        <div class="row spacer">
                            <div class="col-sm-12">
                                <div class="dark-container">
                                    <h4>{{text.distribution}}</h4>
                                    <div class="row spacer">
                                        <div ng-repeat="resourceLocationTransport in currentResourceLocation.ResourceLocationTransports">
                                            <div ng-if="resourceLocationTransport.TransportType.Description == 'Ground'" class="col-sm-4 col-xs-3">
                                                <img src="style/images/Transport-Ground.png" style="width: 50px;" />
                                            </div>
                                            <div ng-if="resourceLocationTransport.TransportType.Description == 'Air'" class="col-sm-4 col-xs-3">
                                                <img src="style/images/Transport-Air.png" style="width: 50px;" />
                                            </div>
                                            <div ng-if="resourceLocationTransport.TransportType.Description == 'Water'" class="col-sm-4 col-xs-3">
                                                <img src="style/images/Transport-Water.png" style="width: 50px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dark-container">
                                    <h4>{{text.services}}</h4>
                                    <div class="separated-small" ng-repeat="inventory in currentResourceLocation.ResourceLocationInventories">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img class="event-img" ng-src="style/images/{{inventory.ResourceType.Description}}.png" style="width: 22px;" />
                                            </div>
                                            <div class="col-sm-8">
                                                {{inventory.ResourceType.Description}} <span ng-if="inventory.ResourceSubtype">({{inventory.ResourceSubtype.Description}})</span><br>
                                                {{inventory.Quantity}} - {{inventory.ResourceTypeUnitOfMeasure.Description}}
                                            </div>
                                            <div class="col-sm-2">
                                                <a href ng-click="showResourceLocationInventoryEditForm(inventory)">
                                                    <img class="glyphicon-edit" src="style/images/Edit.png" style="width: 22px;" />
                                                </a>
                                            </div>
                                            <!--<div class="col-sm-2">
                                                <a id="btn-remove" class="btn btn-danger pull-right" ng-click="modalDeleteResourceLocationInventory(inventory)" style="margin-top: 7px;"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>-->
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a id="btn-add" class="btn btn-primary full-width" ng-click="showResourceLocationInventoryNewForm()" style="margin-top: 7px;"><span class="glyphicon glyphicon-plus-sign"></span>{{text.add_service}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Resource Location Inventory Form-->
        <form name="reslocinvform">
            <div id="rightColumn" class="col-lg-3 col-md-4 col-sm-5" ng-if="showResourceTypes">
                <div class="dark-container">

                    <div class="row">
                        <div class="col-sm-10">
                            <h4>{{currentResourceLocation.Description}}</h4>
                        </div>
                        <div class="col-sm-2">
                            <a id="btn-remove" class="close pull-right" ng-click="showResourceLocationDiv()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{text.services}}</h4>
                        </div>
                    </div>

                    <div class="row spacer">
                        <div class="col-sm-4 col-xs-3" ng-repeat="resourceType in resourceTypesFiltered">
                            <a href ng-click="setResourceLocationInventoryType(resourceType)">
                                <img ng-src="style/images/{{resourceType.Description}}-Circle-Blue.png" alt="{{resourceType.Description}}" 
                                    ng-disabled="resourceDisabled" style="height: 50px; width: 50px;" />
                            </a>
                            <div class="text-center">
                                <span style="margin-bottom: 5px; display: block; width: 54px;">{{resourceType.Description}}</span>
                            </div>
                        </div>
                    </div>

                    <div ng-show="resourcesFiltered">
                        <div class="row separated-small">
                            <div class="col-xs-6 form-group" show-errors>
                                <label>{{text.quantity}}:</label><br>
                                <input ng-model="currentResourceLocationInventory.Quantity" type="number" min="1" 
                                    class="form-control" name="qty" required />
                                <div class="help-block error" ng-if="reslocinvform.qty.$error.required">{{text.required}}</div>
                                <div class="help-block error" ng-if="reslocinvform.qty.$error.min">{{text.invalid}}</div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label>{{text.unit_type}}:</label><br>
                                <select class="form-control" ng-model="currentResourceLocationInventory.ResourceTypeUnitOfMeasureID" 
                                    ng-options="choice.ResourceTypeUnitOfMeasureID as choice.Description for choice in resourceTypesFiltered[0].ResourceTypeUnitOfMeasures">
                                </select>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>{{text.subtype}}:</label><br>
                                    <select class="form-control" ng-model="currentResourceLocationInventory.ResourceSubtypeID"
                                        ng-options="choice.ResourceSubtypeID as choice.Description for choice in resourceTypesFiltered[0].ResourceSubtypes">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row separated-small">
                            <div class="col-xs-6" ng-if="!resourceLocationInventoryEdit">
                                <a id="btn-clear" class="btn btn-primary pull-left" ng-click="showResourceLocationInventoryNewForm()">
                                    <span class="glyphicon glyphicon-refresh"></span>{{text.reset}}
                                </a>
                            </div>
                            <div class="col-xs-6" ng-if="resourceLocationInventoryEdit">
                                <a id="btn-clear" class="btn btn-danger pull-left" ng-click="modalDeleteResourceLocationInventory()">
                                    <span class="glyphicon glyphicon-remove"></span>{{text.delete}}
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a id="btn-save" class="btn btn-success pull-right" ng-click="saveResourceLocationInventory()">
                                    <span class="glyphicon glyphicon-save"></span>{{text.save}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>