<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{{text.confirm}} {{text.resource_location}} {{text.delete}}</h3>
    </div>
    <div class="modal-body">

        {{text.about_to_delete}}  {{currentResourceLocation.Description}}.  {{text.additional_inventory}}.<br>
        {{text.are_you_sure}}

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$close(deleteResourceLocation())">{{text.yes}}!</button>
        <button class="btn btn-primary" ng-click="$dismiss('cancel')">{{text.no}}</button>
    </div>
</div>