<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Inventory Delete</h3>
    </div>
    <div class="modal-body">

        You are about delete:  {{currentResourceLocationInventory.ResourceType.Description}} - {{currentResourceLocationInventory.Quantity}} {{currentResourceLocationInventory.ResourceTypeUnitOfMeasure.Description}}.
        Are you sure?

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$close(deleteResourceLocationInventory())">Yes!</button>
        <button class="btn btn-primary" ng-click="$dismiss('cancel')">No</button>
    </div>
</div>