<div ng-controller="DemoCtrl">
    <div class="row">
        <div class="col-xs-3 ">
            <h4>Demo</h4>
        </div>
        <div class="col-xs-offset-7 col-xs-2">
            <button type="button" class="close" style="" ng-click="go('/manage')">&times;</button>
        </div>
    </div>
    <div class="panel text-center">
        <div class="panel-title">
            <h4>&nbsp;</h4>
        </div>
        <div class="panel-primary spacer">

            <div class="spacer">
                <a class="btn btn-primary btn-lg" href="#/regulations">
                    <span>Configure Map Refresh Rate</span>
                </a>
            </div>

            <div class="spacer">
                <a class="btn btn-lg" ng-click="startDemo()" ng-class="{'btn-warning': started, 'btn-danger': !started}">
                    <span>Start Scenario Demo</span>
                </a>
            </div>

            <div class="spacer">
                <a class="btn btn-danger btn-lg" href="#/events">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    <span>Clean Database</span>
                </a>
            </div>

            <div class="spacer"></div>
        </div>
    </div>
</div>
