<div ng-controller="DemoCtrl">
    <div class="row separated">
        <div class="col-xs-3 ">
            <h4>Demo</h4>
        </div>
        <div class="col-xs-offset-7 col-xs-2">
            <button type="button" class="close" style="" ng-click="go('/manage')">&times;</button>
        </div>
    </div>
    <div class="panel text-center">
        <div class="panel-title">
            <h4>&nbsp;</h4>
        </div>
        <div class="panel-primary">
            <div>
                <a class="btn " ng-click="runBangladeshScenario()" ng-class="{'btn-warning': demoRunning, 'btn-primary': !demoRunning }">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    <span>Start Bangladesh Scenario</span>
                </a>
            </div>
			
			<div class="spacer">
                <a class="btn " ng-click="runPhilippinesScenario()" ng-class="{'btn-warning': demoRunning, 'btn-primary': !demoRunning }">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    <span>Start Philippines Scenario</span>
                </a>
            </div>

            <div class="spacer">
                <a class="btn btn-danger " ng-click="cleanDatabase()">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    <span>Clean Database</span>
                </a>
            </div>

            <div class="spacer"></div>
        </div>
    </div>
</div>
