<div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{text.are_you_sure}}</h3>
            </div>
            <div class="modal-body">

                {{text.delete_invite_confirm_label}}: {{model.invitation.FirstName}} &nbsp;  {{model.invitation.LastName}} .
                {{text.are_you_sure}}

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="$close(deleteInvite(model.invitation))">{{text.yes}}!</button>
                <button class="btn btn-primary" ng-click="$dismiss('cancel')">{{text.no}}</button>
            </div>
</div>