<div ng-controller="ManageCtrl">

    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="dark-container">

                    <div class="panel-title text-center">
                        <h4><img ng-src="style/images/Team.png" style="height:30px; width:30px; margin-right:10px;" /> {{text.registered_team_members_label}}</h4>
                    </div>

                    <div class="panel-body">
                        <div class="row" ng-repeat="teamMember in team | orderBy: '+LastName' ">
                            <div class="col-lg-8">
                                <img ng-src="style/images/Person.png" style="height:30px; margin-right:10px;" /> {{teamMember.FirstName}}&nbsp;{{teamMember.LastName}}
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-danger btn-sm full-width" ng-disabled="teamMember.AccountID === currentUser.AccountID" ng-click="deleteTeamMember(teamMember)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{text.remove}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <a class="btn  btn-primary " href="#/assign_poc">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{text.btn_assign_points_of_contact}}
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="dark-container">

                    <div class="panel-title text-center">
                        <h4><img ng-src="style/images/Invitation.png" style="height:30px; width:30px; margin-right:10px;" /> {{text.invitations_label}}</h4>
                    </div>

                    <div class="panel-body">
                        <div class="row" ng-repeat="invite in invites | orderBy: '+LastName'  ">
                            <div class="col-lg-8">
                                <img ng-src="style/images/Person.png" style="height:30px; margin-right:10px;" /> {{invite.FirstName}}&nbsp;{{invite.LastName}}
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-danger btn-sm full-width" ng-click="deleteInvite(invite)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{text.remove}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <a class="btn  btn-primary " href="#/invite">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{text.btn_invite_new_member}}
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="dark-container">

                    <div class="col-sm-12">
                        <a class="btn btn-primary full-width" href="#/regulations">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            <span>{{text.btn_regulations}}</span>
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <a class="btn btn-danger full-width" href="#/manage_events">
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                            <span>{{text.btn_manage_events}}</span>
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <a class="btn btn-primary full-width" href="#/manage_map_layers">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            <span>{{text.btn_manage_map_layers}}</span>
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <a class="btn btn-primary full-width" href="#/demo">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                            <span>{{text.demo_scenarios_btn}}</span>
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <a class="btn btn-primary full-width" href="#/tomnod">
                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                            <span>{{text.tomnod_title}}</span>
                        </a>
                    </div>

                    <div class="col-sm-12">
                        <a id="btn-showUser" class="btn btn-primary full-width" ng-click="enterAddress()">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span>{{text.btn_manage_address}}</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            {{text.api_key_label}}: {{org.APIKey}}<br>
            <a id="btn-edit-api" class="btn btn-primary" ng-click="editAPI()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {{text.edit_api_btn}}
            </a>
        </div>
    </div>

</div>