<div ng-controller="ManageCtrl">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4">
                <div class="panel ">
                    <div class="panel-title text-center spacer">
                        <img ng-src="style/images/Team.png" style="height: 44px; width: 44px;"  alt="Team Invites"/>
                        Registered Team Members
                    </div>
                    <div class="row ">
                        <div class="panel-body text-nowrap">
                            <div class="col-md-6  ">
                                <h5>
                                    <img ng-src="style/images/Person.png" style="height: 30px; width: 13px;"  alt="Team Invites"/>
                                    {{currentUser.FirstName + " " + currentUser.LastName}}
                                </h5>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger" ng-click="">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel text-center ">
                    <div class="panel-title   spacer  ">
                        <img ng-src="style/images/Invitation.png" style="height: 30px; width: 25px;"  alt="Team Invites"/>
                        Invitations
                    </div>
                     <div class="panel-body spacer">
                        <p><a class="btn  btn-primary " href="#/invite">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <span>Invite New Member</span>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel text-center">
                    <div class="panel-title">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="panel-primary">
                        <p><a class="btn btn-primary btn-lg" href="#/regulations">
                            <span>Regulations &amp; Policies</span>
                        </a>
                        </p>
                    </div>
                    <p><a class="btn btn-danger btn-lg" href="#/events">
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        <span>Begin New Event</span>
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>