<div ng-controller="ManageCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel ">
                    <div class="panel-title text-center spacer">
                        <img ng-src="style/images/Team.png" style="height: 44px; width: 44px;"/>
                        {{text.registered_team_members_label}}
                    </div>
                    <div class="row ">
                        <div class="panel-body text-nowrap">
                            <ul class="list-unstyled list-inline"
                                ng-repeat="teamMember in team | orderBy: '+LastName' ">
                                <div class="col-md-7  ">
                                    <li>
                                        <h5>
                                            <img ng-src="style/images/Person.png" style="height: 30px; width: 13px;"/>
                                            {{teamMember.FirstName}}&nbsp;{{teamMember.LastName}}
                                        </h5>
                                    </li>
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-danger btn-sm  "
                                            ng-disabled="teamMember.AccountID === currentUser.AccountID"
                                            ng-click="deleteTeamMember(teamMember)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {{text.remove}}
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer panel-borderless text-center">
                        <a class="btn  btn-primary " href="#/assign_poc">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <span>{{text.btn_assign_points_of_contact}}</span>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel  ">
                    <div class="panel-title  text-center  spacer  ">
                        <img ng-src="style/images/Invitation.png" style="height: 30px; width: 25px;"/>
                        {{text.invitations_label}}
                    </div>
                    <div class="panel-body text-nowrap spacer">
                        <ul class="list-unstyled list-inline" ng-repeat="invite in invites | orderBy: '+LastName'  ">
                            <div class="col-md-6  ">
                                <li>
                                    <h5>
                                        <img ng-src="style/images/Person.png" style="height: 30px; width: 13px;"/>
                                        {{invite.FirstName}}&nbsp;{{invite.LastName}}
                                    </h5>
                                </li>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger btn-sm" ng-click="deleteInvite(invite)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {{text.remove}}
                                </button>
                            </div>
                        </ul>

                    </div>
                    <div class="panel-footer panel-borderless text-center">
                        <a class="btn  btn-primary " href="#/invite">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <span>{{text.btn_invite_new_member}}</span>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel text-center">
                    <div class="panel-title">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="panel-primary spacer">
                        <a class="btn btn-primary " href="#/regulations">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            <span>{{text.btn_regulations}}</span>
                        </a>

                        <div class="spacer">
                            <a class="btn btn-danger " href="#/events">
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                <span>{{text.btn_new_event}}</span>
                            </a>
                        </div>
                        <div class="spacer">
                            <a class="btn btn-primary " href="#/demo">
								<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                <span>Demo Scenarios</span>
                            </a>
                        </div>
						<br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="separated">
            <h5>{{text.api_key_label}}: {{org.APIKey}}
				<a id="btn-showUser" class="btn btn-primary pull-right" ng-click="enterAddress()" style="margin-right: 10px;">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					<span>{{text.btn_manage_address}}</span>
				</a>
			</h5>
            <a id="btn-edit-api" class="btn btn-primary" ng-click="editAPI()" style="margin-right: 10px; margin-top: -5px;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span>Edit API</span>
            </a>
        </div>
    </div>
</div>