<div ng-controller="PasswordResetCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 dark-container">

            <div class="form-group" ng-show="showOldPasswordField">
                <label>{{text.current_password_label}}:</label>
                <input name="Current" ng-model="currentPassword" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label>{{text.new_password_label}}:</label>
                <input name="NewPassword" ng-model="newPassword" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label>{{text.confirm_new_password_label}}:</label>
                <input name="ConfirmNewPassword" ng-model="confirmedPassword" type="password" class="form-control" />
            </div>
            <div class="separated">
                <a id="btn-login" class="btn btn-primary pull-right" ng-click="updatePassword()">
                    <span class="glyphicon glyphicon-ok-circle"></span>{{text.btn_submit}}
                </a>
            </div>

        </div>
    </div>
</div>