<div ng-controller="PasswordResetCtrl">
    <div class="form-group detail-row">
        <label>{{text.current_password_label}}:</label>
        <input name="Current" ng-model="currentPassword" type="password" class="form-control" />
    </div>
    <div class="form-group detail-row">
        <label>{{text.new_password_label}}:</label>
        <input name="NewPassword" ng-model="newPassword" type="password" class="form-control" />
    </div>
    <div class="form-group detail-row">
        <label>{{text.confirm_new_password_label}}:</label>
        <input name="ConfirmNewPassword" ng-model="confirmedPassword" type="password" class="form-control" />
    </div>
    <div class="separated">
        <a id="btn-login" class="btn btn-primary" ng-click="updatePassword()"><span class="glyphicon glyphicon-ok-circle"></span>{{text.btn_submit}}</a>
    </div>
</div>