<div class="modal-content">

    <div class="modal-header">
        <h3 class="modal-title">{{text.are_you_sure}}</h3>
    </div>

    <div class="modal-body">
        {{text.delete_confirm_label}}: {{model.regulation.Summary}}.<br>
        {{text.are_you_sure}}
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$close(deleteReg())">{{text.yes}}!</button>
        <button class="btn btn-primary" ng-click="$dismiss('cancel')">{{text.no}}</button>
    </div>
    
</div>