<div ng-controller="RegulationDetailCtrl">
    <div class="row">
        <div class="col-xs-2 ">
            <img ng-src="style/images/Regulations.png" style="height: 87px; width: 87px;" alt="Regulations" />
        </div>

        <div ng-repeat="reg in regulation">
        <div class="col-xs-8">
            <h3>{{reg.Summary}}</h3>
        </div>
        <div class="col-xs-2">
            <button type="button" class="close" ng-click="go('/regulations')" >&times;</button>
        </div>
    </div>
</div>
<div ng-repeat="reg in regulation">
    <p>{{reg.Narrative}}</p>
</div>
</div>
