<div ng-controller="RegulationsCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 dark-container">

            <div class="row">
                <div class="col-xs-10">
                    <h3>
                        <img ng-src="style/images/Regulations.png" style="width:40px; margin-right:10px;" alt="Regulations"/>
                        {{text.regulations_title_label}}
                    </h3>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="close" ng-click="go('/manage')">&times;</button>
                </div>
            </div>

            <div class="row spacer" id="regulations">
                <div class="col-xs-12" ng-repeat="regulation in regulations">
                    <div class="row separated-small">
                        <div class="col-xs-8">
                            <a href="#/regulation_detail/{{regulation.OrganizationRegulationsID}}">
                                <h4>
                                    <img alt="Regulation" ng-src="style/images/Policy.png" style="width:20px; margin-right:10px;"/>
                                    {{regulation.Summary}}
                                </h4>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-primary full-width" href="#/regulation_edit/{{regulation.OrganizationRegulationsID}}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{text.btn_edit}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row" id="AddRegulation">
                <div class="col-xs-12">
                    <button class="btn  btn-primary" ng-click="go('/regulation_add')">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {{text.btn_add_policy}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>