<div ng-controller="RegulationAddCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 dark-container">
    
            <form name="regulationAddForm" novalidate role="form" ng-submit="addRegulation(newReg)">

                <div class="row form-group" ng-class="{'has-error' : (regulationAddForm.policyTitle.$invalid  && regulationAddForm.policyTitle.$touched) || regulationAddForm.policyTitle.$error.maxlength  }">
                    <div class="col-xs-2">
                        <img ng-src="style/images/Regulations.png" style="width:50px; margin-top:10px;" alt="Regulations" />
                    </div>
                    <div class="col-xs-8 form-group">
                        <label>{{text.policy_title_label}}</label>
                        <input type="text" class="form-control" ng-model="newReg.Summary" ng-maxlength="50" id="policyTitle" name="policyTitle" required />
                        <span class="help-block" ng-if="regulationAddForm.policyTitle.$error.required && regulationAddForm.policyTitle.$touched ">
                            {{text.policy_title_required_label}}
                        </span>
                        <span class="help-block" ng-if="regulationAddForm.policyTitle.$error.maxlength">
                            {{text.policy_title_limit_label}}
                        </span>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="close" ng-click="go('/regulations')">&times;</button>
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error' : (regulationAddForm.policyText.$invalid && regulationAddForm.policyText.$touched) || regulationAddForm.policyText.$error.maxlength }">
                    <div class="col-md-12 form-group">
                        <label>{{text.policy_text_label}}</label>
                        <textarea class="form-control" rows="5" ng-maxlength="1500" id="policyText" name="policyText" ng-model="newReg.Narrative" required />
                        <span class="help-block" ng-if="regulationAddForm.policyText.$error.required && regulationAddForm.policyText.$touched">
                            {{text.policy_text_required_label}}
                        </span>
                        <span class="help-block" ng-if="regulationAddForm.policyText.$error.maxlength">
                            {{text.policy_text_limit_label}}
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary pull-right" ng-disabled="regulationAddForm.$invalid" value="Save"/>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>