<div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure?</h3>
            </div>
            <div class="modal-body">
                You are about to delete team member: {{model.teamMember.FirstName}}&nbsp;{{model.teamMember.LastName}} .
                Are you sure?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="$close(deleteMember())">Yes!</button>
                <button class="btn btn-primary" ng-click="$dismiss('cancel')">No</button>
            </div>
</div>