<div ng-controller="TeamInviteCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 dark-container">

            <div class="row">
                <div class="col-xs-10">
                    <h4>
                        <img ng-src="style/images/Invitation.png" style="width:35px; margin-right:10px;" />
                        {{text.invitation_label}}
                    </h4>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="close" style="" ng-click="go('/manage')">&times;</button>
                </div>
            </div>

            <form name="teamInviteForm" novalidate role="form" ng-submit="sendInvite(newInvite)">

                <div class="row form-group spacer" ng-class="{'has-error' : (teamInviteForm.firstName.$invalid && teamInviteForm.firstName.$touched)}" >
                    <div class="col-xs-12">
                        <label for="firstName">{{text.first_name_label}}</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="newInvite.FirstName" ng-maxlength="50" required />
                        <span class="help-block" ng-if="teamInviteForm.firstName.$error.required">
                            {{text.first_name_required_label}}
                        </span>
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error' : (teamInviteForm.lastName.$invalid  && teamInviteForm.lastName.$touched) }" >
                    <div class="col-xs-12">
                        <label for="firstName">{{text.last_name_label}}</label>
                        <input type="text" id="lastName" name="lastName" class="form-control"  ng-model="newInvite.LastName" required />
                        <span class="help-block" ng-if="teamInviteForm.lastName.$error.required">
                            {{text.last_name_required_label}}
                        </span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="email" class="control-label">{{text.email_label}}</label>
                        <input type="email" id="email" name="email" ng-model="newInvite.Email" class="form-control" ng-required="true"/>
                        <span class="help-block hide">{{text.valid_email_label}}</span>
                        <span class="help-block hide">{{text.invite_email_error_label}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary pull-right" value="{{text.btn_send_invite}}"/>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>
