:root {
  /* Google Material Design Color Palette - Shade 800 */
  /* https://material.google.com/style/color.html#color-color-palette */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  background-image: url("../style/images/help-bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #bed1d4;
}

a,
a:visited {
  color: white;
}

a:hover {
  color: rgb(124, 230, 241);
}

hr {
  border-color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  width: 95%;
}

.container-fluid {
  padding: 0px 15px;
}

footer h6 {
  color: whitesmoke;
}

.leaflet-popup-content hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dark-container {
  color: whitesmoke;
  background-color: rgba(38, 58, 80, 0.75);
  border: 1px solid #46696f;
  padding: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.dark-container .dark-container {
  background-color: rgba(0, 0, 0, .4);
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0px;
  color: #deebf7;
}

h4,
h4 a,
h4 a:active,
h4 a:visited {
  margin-top: 0px;
  margin-bottom: 5px;
  color: white;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: whitesmoke;
}

.form-control {
  background-color: #bed1d4;
  color: black;
  border-radius: 0px;
}

.event-img {
  width: 60px;
  margin-top: 10px;
}

.resource-img {
  width: 50px;
}

.navbar-inverse {
  background-color: rgba(38, 58, 80, 0.75);
  border-color: #999;
  font-weight: bold;
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #46696f;
  color: #deefff;
}

.navbar-inverse .navbar-toggle {
  border-color: #999;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #46696f;
}

.navbar-brand {
  padding: 5px 10px;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #bed1d4;
}

.navbar-inverse .navbar-nav > li > a.btn {
  color: white;
}

#user-info {
  background-color: rgba(0,0,0,0.5);
  text-align: right;
  font-size: .8em;
  padding: 10px;
}

#user-info a {
  text-decoration: none;
  color: #bed1d4;
}

.btn.btn-toggle {
  padding: 1px;
  margin: 0px;
}

.btn-toggle,
.btn-toggle:hover,
.btn-toggle:active,
.btn-toggle.active {
  color: white;
  font-size: 14px;
  /*background-color: var(--light-blue);*/
  background-color: #00838F;
  border-style: none;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0px;
  padding: 1px 0px 0px 0px;
}

.btn-toggle span {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: rgba(38, 58, 80, 1.0);
  background-image: none;
  background-repeat: no-repeat;
  margin: 0px;
}

.btn-toggle.active span {
  background-color: transparent;
}

.filter-caption {
  font-size: .8em;
}

/*Filters*/

#showNeedsMarkers span {
  background-image: url("../style/images/markers.png");
  background-size: 40px;
  background-position: 2px 4px;
}

#showDistCenterMarkers span {
  background-image: url("../style/images/Distribution-Center.png");
  background-size: 40px;
  background-position: 4px 9px;
}

#showClusters span {
  background-image: url("../style/images/Circle-Red.png");
  background-position: 6px 7px;
  background-size: 35px;
}

#showLocationMarkers span {
  background-image: url("../style/images/Diamond-Blue.png");
  background-position: 4px 4px;
  background-size: 40px;
}

#showHeatmap span {
  background-image: url("../style/images/heatmap2.png");
  background-position: -1px 2px;
  background-size: 50px;
}

#showBlockageMarkers span {
  background-image: url("../style/images/Alert.png");
  background-position: 9px 10px;
  background-size: 30px;
}

/*Resources*/

#showClothing {
  background-color: #F9A825;
}

#showClothing span {
  background-image: url("../style/images/Clothing.png");
  background-position: 6px 5px;
  background-size: 35px;
}

#showRescue {
  background-color: #AD1457;
}

#showRescue span {
  background-image: url("../style/images/Rescue.png");
  background-position: 6px 5px;
  background-size: 35px;
}

#showEvacuation {
  background-color: #6A1B9A;
}

#showEvacuation span {
  background-image: url("../style/images/Evacuation.png");
  background-position: 6px 5px;
  background-size: 35px;
}

#showMedical {
  background-color: #C62828;
}

#showMedical span {
  background-image: url("../style/images/First Aid.png");
  background-size: 35px;
  background-position: 6px 6px;
}

#showMedicine {
  background-color: #00838F;
}

#showMedicine span {
  background-image: url("../style/images/Medicine.png");
  background-size: 35px;
  background-position: 6px 7px;
}

#showShelter {
  background-color: #EF6C00;
}

#showShelter span {
  background-image: url("../style/images/Shelter.png");
  background-size: 35px;
  background-position: 6px 8px;
}

#showFood {
  background-color: #2E7D32;
}

#showFood span {
  background-image: url("../style/images/Food.png");
  background-size: 20px;
  background-position: 13px 5px;
}

#showWater {
  background-color: #1565C0;
}

#showWater span {
  background-image: url("../style/images/Water.png");
  background-size: 35px;
  background-position: 6px 5px;
}

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a.btn:hover {
  color: white;
  background-color: #d83d2c;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #bed1d4;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #deefff;
  background-color: #46696f;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #deefff;
  background-color: #46696f;
}

.help-menu .btn {
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: #d85b4d;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
}

.help-menu .btn:hover {
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
}

.dropdown-menu,
.navbar-nav .open .dropdown-menu {
  background-color: rgba(38, 58, 80, 1.0);
  color: #bed1d4;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active,
.dropdown-menu > li > a.active {
  background-color: #46696f;
  color: #e7ffd9;
}

.dropdown-menu > li > a:hover {
  color: #e7ffd9;
}

.main-content {
  margin-top: 10px;
}

.panel {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.panel-default > .panel-heading {
  text-align: center;
  padding: 0px;
  background-color: transparent;
  border: none;
  color: #eee;
}

.panel-title {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
}

.panel-body {
  padding: 15px;
}

.map-small {
  margin-bottom: 20px;
  background-color: pink;
}

.map-small img {
  border-radius: 4px 4px 0px 0px;
}

.alert {
  margin-bottom: 0px;
}

/* Buttons */

.btn {
  border-radius: 0px;
  padding: 8px 15px;
  margin: 2px;
  border: none;
  white-space: normal;
}

.btn-save {
  background-color: forestgreen;
  color: white;
}

.btn-primary {
  background-color: #63afbc;
}

.btn-primary:hover {
  background-color: rgb(79, 140, 150);
  background-image: none;
  color: white;
}

.btn-danger {
  background-color: rgba(165, 19, 19, .85);
  background-color: #d91d1d;
}

.btn-danger:hover {
  background-color: #a51313;
}

.btn-success {
  background-color: forestgreen;
}

.btn-success:hover {
  background-color: rgb(74, 147, 74);
  background-image: none;
}

.btn .glyphicon {
  margin-right: 7px;
}

.full-width {
  width: 100%;
}

.icon-bar {
  height: 40px;
  background-color: #4e4d46;
  max-width: 400px;
  border-radius: 0px 0px 4px 4px;
  padding-left: 20px;
}

input.switch:empty {
  margin-left: -1500px;
}

input.switch:empty ~ label {
  position: relative;
  float: right;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.1em 0 rgba(0,0,0,0.2);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before {
  background-color: #5cb85c;
}

input.switch:checked ~ label:after {
  margin-left: 2em;
}

.separated {
  margin-top: 20px;
}

.separated-large {
  margin-top: 40px;
}

.separated-small {
  margin-top: 10px;
}

.separated-tiny {
  margin-top: 5px;
}

.separated-hz {
  margin-left: 5px;
}

/*#event-info {
    margin-left: 10px;
}*/

#event-info h4 {
  margin-top: 5px;
  margin-bottom: 0px;
}

#event-info h5 {
  margin-top: 3px;
  margin-bottom: 0px;
}

#map {
  height: 512px;
  margin-bottom: 10px;
}

#event-header-icon {
  width: 40px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.leaflet-popup-content {
  color: black;
}

.lang-img {
  width: 20px;
  height: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
  border: 1px solid #999;
}

.close {
  color: #fff;
  opacity: 1;
}

.panel-borderless {
  border: 0;
}

.spacer {
  margin-top: 20px;
}

.popover-content {
  color: black;
  font-size: 12px;
}

.modal-header {
  border: none;
}

.modal-content {
  color: whitesmoke;
  position: relative;
  background-color: #4e5d6c;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: border-box;
  outline: 0;
}

.modal-footer {
  border: none;
}

.panel-footer {
  background-color: rgba(38, 58, 80, 0.75);
  border-color: #999;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
  color: salmon;
}

#header-row {
  margin-bottom: 0px;
}

#blockage-icon {
  font-size: 20pt;
}

select {
  background-color: #337ab7;
  height: 80x;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

.admin-list-icon {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.link-lat-long {
  color: #25d6e8;
  text-decoration: underline;
}

.about-bold {
  color: #4299d4;
}

.row-lat-long {
  padding-top: 10px;
}

#slider {
  height: 100px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: -15px;
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
  .dark-container {
    padding: 10px;
  }

  .dark-container .dark-container {
    padding: 8px;
  }
}

/*Collapse navbar at a wider breakpoint to avoid menu wrapping*/

@media (min-width: 768px) and (max-width: 920px) {
  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }

  .navbar-header {
    float: none;
  }
}