<div class="col-md-12" style="margin-bottom: 10px;">
<table id="eventsTable">
	<tr>
		<td>
			<img src="style/images/icons/FloodGray.png" style="height: 88px; width: 88px; margin-right: 5px;" />
		</td>
		<td>
			<h3 style="margin-top: -5px;">{{event.EventType.Description}}</h3>
			<h5 style="margin-top: -10px; margin-bottom: -1px;">{{event.EventLocations[0].Description}}</h5>
			<a href="#\event_map\1">
				({{event.EventLocations[0].LAT}}, {{event.EventLocations[0].LONG}}, {{event.EventLocations[0].Radius}} km<sup>2</sup>)
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<img src="style/images/icons/ClockIconGray.png" style="height: 44px; width: 44px;" />
		</td>
		<td>
			<h4 style="margin-left: -25px;">{{event.CreateDate | date : "short"}}</h4>
		</td>
	</tr>
	<tr>
		<td>
			<img src="style/images/icons/PeopleIconGray.png" style="height: 44px; width: 44px;" />
		</td>
		<td>
			<h4 style="margin-left: -25px;">More Information</h4>
			<h5 style="margin-left: -25px;">{{event.contactPhone}}</h5>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div>
				<a id="btn-help" class="btn btn-danger" href="javascript:void(0)" onclick="showHelpPanel()" style="margin-left: 0px;"><span class="glyphicon glyphicon-warning-sign"></span>{{text.menu_help}}</a>
			</div>
		</td>
	</tr>
</table>
</div>