<div class="row">
    <div class="col-xs-4 text-center">
        <a id="showMedical" ng-class="classfunc('showMedical')" ng-click="togglefunc('showMedical', filter)"><span></span></a>
        <br />
        <span class="filter-caption">First Aid</span>
    </div>
    <div class="col-xs-4 text-center">
        <a id="showShelter" ng-class="classfunc('showShelter')" ng-click="togglefunc('showShelter', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Shelter</span>
    </div>
    <div class="col-xs-4 text-center">
        <a id="showClothing" ng-class="classfunc('showClothing')" ng-click="togglefunc('showClothing', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Clothing</span>
    </div>
</div>
<div class="row separated-small">
    <div class="col-xs-4 text-center">
        <a id="showFood" ng-class="classfunc('showFood')" ng-click="togglefunc('showFood', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Food</span>
    </div>
    <div class="col-xs-4 text-center">
        <a id="showMedicine" ng-class="classfunc('showMedicine')" ng-click="togglefunc('showMedicine', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Medicine</span>
    </div>
    <div class="col-xs-4 text-center">
        <a id="showWater" ng-class="classfunc('showWater')" ng-click="togglefunc('showWater', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Water</span>
    </div>
</div>
<div class="row separated-small">
    <div class="col-xs-4 text-center">
        <a id="showEvacuation" ng-class="classfunc('showEvacuation')" ng-click="togglefunc('showEvacuation', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Evacuation</span>
    </div>
    <div class="col-xs-4 text-center">
        <a id="showRescue" ng-class="classfunc('showRescue')" ng-click="togglefunc('showRescue', filter)"><span></span></a>
        <br />
        <span class="filter-caption">Rescue</span>
    </div>
</div>